<script src="js/jquery-ui-1.10.4.js"></script>
<script src="js/jquery.fileupload.js">
</script>
<script>
    var ifdtobject;
    var nchar = 0;
    var resized = false;


    $(document).ready(function() {


        $("form").submit(function(evt) {
            evt.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                    url: '/auth/WEB/gis/uploadDataSheet',
                    type: 'POST',
                    data: formData,
                    // async: false,
                    cache: false,
                    contentType: 'application/json',
                    // enctype: 'multipart/form-data',
                    processData: false,
                    success: function(response) {
                        alert(JSON.stringify(response));
                    }
                },
                function(data) {
                    alert(SON.stringify(data));
                });
            return false;
        });

        $('#generaldataupload').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;

                $('#divmap1').html(file_list.join(''));
                $('#divmap1').prepend(file_data.join(''));

                $('#filedatadiv').show();

            } else {
                $('#filedatadiv').hide();
                $('#divmap1').hide();
                $('#divmap1').html('');

            }
        });
        $('#generaldata').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').prepend(gen_data.join(''));
                if (ifdtobject.properties.asset_type === 'ROAD') {
                    // console.log(ifdtobject);
                    $.each(ROADS.general_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });

                }
                if (ifdtobject.properties.asset_type === 'BRIDGE') {
                    // console.log(ifdtobject);
                    $.each(BRIDGES.general_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });

                }
                if (ifdtobject.properties.asset_type === 'CULVERT') {
                    // console.log(ifdtobject);
                    $.each(CULVERTS.general_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });

                }
                if (ifdtobject.properties.asset_type === 'GEOT') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.general_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });

                }
                if (ifdtobject.properties.asset_type === 'GEOT2') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.general_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key + 2])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key + 2][0] != undefined && ifdtobject.properties[key + 2][0] != "") {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2][0] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key + 2] != undefined) {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2] + '</td></tr>');

                            } else {
                                $('#generaldatatbody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });

                }
                $('#generaldatadiv').show();

            } else {
                $('#generaldatadiv').hide();

            }
        });
        $('#inventorydata').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(inv_data.join(''));
                $('#inventorydatabody').empty();

                if (ifdtobject.properties.asset_type === 'ROAD') {
                    // console.log(ifdtobject);
                    $.each(ROADS.inventory_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'BRIDGE') {
                    // console.log(ifdtobject);
                    $.each(BRIDGES.inventory_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'CULVERT') {
                    // console.log(ifdtobject);
                    $.each(CULVERTS.inventory_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.inventory_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT2') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.inventory_data, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key + 2])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key + 2][0] != undefined && ifdtobject.properties[key + 2][0] != "") {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2][0] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key + 2] != undefined) {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2] + '</td></tr>');

                            } else {
                                $('#inventorydatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                $('#inventorydatadiv').show();

            } else {
                $('#inventorydatadiv').hide();

            }
        });
        $('#operation').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(op_data.join(''));
                $('#operationdatabody').empty();

                if (ifdtobject.properties.asset_type === 'ROAD') {
                    // console.log(ifdtobject);
                    $.each(ROADS.operations, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'BRIDGE') {
                    // console.log(ifdtobject);
                    $.each(BRIDGES.operations, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'CULVERT') {
                    // console.log(ifdtobject);
                    $.each(CULVERTS.operations, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.operations, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT2') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.operations, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key + 2])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key + 2][0] != undefined && ifdtobject.properties[key + 2][0] != "") {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2][0] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key + 2] != undefined) {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2] + '</td></tr>');

                            } else {
                                $('#operationdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                $('#operationdiv').show();

            } else {
                $('#operationdiv').hide();

            }
        });
        $('#risk').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(risk_data.join(''));
                $('#riskdatabody').empty();

                if (ifdtobject.properties.asset_type === 'ROAD') {
                    // console.log(ifdtobject);
                    $.each(ROADS.risk, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'BRIDGE') {
                    // console.log(ifdtobject);
                    $.each(BRIDGES.risk, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'CULVERT') {
                    // console.log(ifdtobject);
                    $.each(CULVERTS.risk, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.risk, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key][0] != undefined && ifdtobject.properties[key][0] != "") {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key][0] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key] != undefined) {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                if (ifdtobject.properties.asset_type === 'GEOT2') {
                    // console.log(ifdtobject);
                    $.each(GEOTS.risk, function(key, value) {
                        if (Array.isArray(ifdtobject.properties[key + 2])) {
                            // console.log('Is Array');
                            if (ifdtobject.properties[key + 2][0] != undefined && ifdtobject.properties[key + 2][0] != "") {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2][0] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        } else {
                            // console.log('Is NOT Array');
                            if (ifdtobject.properties[key + 2] != undefined) {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + ifdtobject.properties[key + 2] + '</td></tr>');

                            } else {
                                $('#riskdatabody').append('<tr><td>' + value + '</td><td>' + '--' + '</td></tr>');

                            }
                        }


                    });
                }
                $('#riskdiv').show();

            } else {
                $('#riskdiv').hide();

            }
        });
        $("#searchtool").on('keyup', function(e) {
            var $this = $(this);

            if (e.keyCode == 13) {
                // Do something
                // alert('Buscando ...' + $this.val().length);
                $('#error').hide();
                $('#error').empty();
                $('#response').hide();
                $('#response').empty();
                $("#datainfophoto").empty();
                $("#datainfophoto").hide();
                $('#divmap1').empty();
                $("#generaldataupload").prop("checked", false);
                $("#generaldata").prop("checked", false);
                $("#inventorydata").prop("checked", false);
                $("#operation").prop("checked", false);
                $("#risk").prop("checked", false);
                // $('#datainfo').show();
                // $('#dataupload').show();
                $('#datainfo').hide();
                $('#dataupload').hide();

                var dataPost = {};

                if ($this.val().length <= 0) {
                    $('#error').hide();
                    $('#error').empty();
                    $('#error').append("Empty value.<br>Try again.");
                    $('#error').show();

                } else {


                    // $('#datainfo').show();
                    // $('#dataupload').show();
                    var p1 = $.ajax({
                        url: '/auth/WEB/infodatatrack/list_ifdt/' + $this.val(),
                        data: JSON.stringify(dataPost),
                        type: 'POST',
                        contentType: 'application/json'
                    }, function(data) {
                        //// console.log('koboinfo ' + JSON.stringify(data));
                        return (data);
                    });

                    Promise.all([p1]).then(function(values) {
                        $('#spinner').show();
                        map.data.forEach(function(feature) {
                            // If you want, check here for some constraints.
                            // if (feature.getProperty('nameoption') === 'Main Road') {
                            map.data.remove(feature);
                            // }

                        });
                        ifdt = values[0];
                        //console.log(ifdt);
                        if (ifdt.properties.asset_type === 'ERROR') {
                            $('#datainfo').hide();
                            $('#dataupload').hide();
                            $('#error').show();
                            $('#error').append("Search not found.<br>Try again.");
                            map.setCenter(new google.maps.LatLng(15.41, -61.32));
                            map.panTo(new google.maps.LatLng(15.41, -61.32));
                            map.setZoom(11);

                        } else {
                            $('#datainfo').show();
                            $('#dataupload').show();
                            if (ifdt.properties.asset_type === 'ROAD') {
                                $('#response').empty();
                                $('#response').show();
                                $('#response').append("Asset type: " + ifdt.properties.asset_type);

                                jsonObject = ifdt;
                                //// console.log(jsonObject);
                                jsonObject.properties.color = "#5b5e63";
                                jsonObject.properties.nameoption = "Main Road";
                                map.data.addGeoJson(jsonObject);
                                map.setCenter(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.panTo(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                if (ifdt.geometry.coordinates.length > 0 && ifdt.geometry.coordinates.length <= 100) {
                                    map.setZoom(19);
                                } else if (ifdt.geometry.coordinates.length > 100 && ifdt.geometry.coordinates.length <= 400) {

                                    map.setZoom(16);

                                } else if (ifdt.geometry.coordinates.length > 400 && ifdt.geometry.coordinates.length <= 1000) {
                                    map.setZoom(13);

                                } else {
                                    map.setZoom(11);

                                }
                            } else if (ifdt.properties.asset_type === 'BRIDGE') {
                                $('#response').empty();
                                $('#response').show();
                                $('#response').append("Asset type: " + ifdt.properties.asset_type);

                                if (ifdt.properties.koboedit[0] != undefined || ifdt.properties.koboedit[0].kobo_id != undefined) {
                                    var dataPhotoPost = {};
                                    var pphoto = $.ajax({
                                        url: '/auth/WEB/koboinfo/list_koboinfos/' + ifdt.properties.koboedit[0].kobo_id,
                                        data: JSON.stringify(dataPhotoPost),
                                        type: 'POST',
                                        contentType: 'application/json'
                                    }, function(data) {
                                        //// console.log('koboinfo ' + JSON.stringify(data));
                                        return (data);
                                    });
                                    Promise.all([pphoto]).then(function(values) {
                                        koboinfo = values[0];
                                        $.each(koboinfo, function(key, value) {
                                            if (key === 'properties') {
                                                $.each(value, function(kprop, vprop) {
                                                    //console.log(kprop, vprop);
                                                    if (kprop === "_attachments") {

                                                        $("#datainfophoto").empty();
                                                        $("#datainfophoto").show();
                                                        $.each(vprop, function(kfoto, vfoto) {
                                                            var fotosmall = vfoto.replace(".jpg", "-small.jpg");
                                                            $("#datainfophoto").append('<img src="' + fotosmall + '">');
                                                            // $("#formkobo").append('<input name="kobo[properties][' + kprop + ']" required class="form-control" value="' + vfoto + '" type="hidden">');
                                                        });
                                                    }


                                                });
                                            };
                                        });
                                    });
                                }
                                jsonObject = ifdt;
                                //// console.log(jsonObject);
                                jsonObject.properties.color = "#F47983";
                                jsonObject.properties.nameoption = "Bridge";
                                map.data.addGeoJson(jsonObject);
                                map.setCenter(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.panTo(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.setZoom(22);
                            } else if (ifdt.properties.asset_type === 'GEOT' || ifdt.properties.asset_type === 'GEOT2') {
                                $('#response').empty();
                                $('#response').show();
                                $('#response').append("Asset type: " + ifdt.properties.asset_type);

                                jsonObject = ifdt;
                                //// console.log(jsonObject);
                                jsonObject.properties.color = "green";
                                jsonObject.properties.nameoption = "Geot";
                                map.data.addGeoJson(jsonObject);
                                map.setCenter(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.panTo(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.setZoom(19);
                            } else if (ifdt.properties.asset_type === 'CULVERT') {
                                $('#response').empty();
                                $('#response').show();
                                $('#response').append("Asset type: " + ifdt.properties.asset_type);
                                jsonObject = ifdt;
                                //// console.log(jsonObject); 
                                jsonObject.properties.color = "#a17cff";
                                jsonObject.properties.nameoption = "Culvert";
                                map.data.addGeoJson(jsonObject);
                                map.setCenter(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.panTo(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.setZoom(22);
                            } else if (ifdt.properties.asset_type === 'DRAINAGE') {
                                $('#response').empty();
                                $('#response').show();
                                $('#response').append("Asset type: " + ifdt.properties.asset_type);
                                jsonObject = ifdt;
                                //// console.log(jsonObject); 
                                jsonObject.properties.color = "#135dd6";
                                jsonObject.properties.nameoption = "Drainage";
                                map.data.addGeoJson(jsonObject);
                                map.setCenter(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.panTo(new google.maps.LatLng(ifdt.geometry.coordinates[0][1], ifdt.geometry.coordinates[0][0]));
                                map.setZoom(22);
                            }
                            ifdtobject = ifdt;
                            // console.log(ifdt);
                        }
                        $('#spinner').hide();

                    });
                }
            }
        });
        $('#searchtool').on('input', function() {

            var $this = $(this);

            $("#generaldataupload").prop("checked", false);
            $('#datainfo').hide();
            $('#dataupload').hide();
            if (nchar == 0 && !resized) {
                nchar = $this.val().length;
                $("#divmap2").animate({
                    width: '50%'
                }, 1500, function() {
                    resized = true;
                    $('#rowmap').prepend('<div id="divmap1"' +
                        'class="col-md-6" style="height:80vh;" >' +
                        '</div>'
                    );
                    $("#divmap2").toggleClass('col-md-12 col-md-6');
                    if (map) {
                        //// console.log(map.getCenter());
                        google.maps.event.trigger(map, 'resize');
                        map.setCenter(new google.maps.LatLng(15.41, -61.32));
                        map.panTo(new google.maps.LatLng(15.41, -61.32));
                        //// console.log(map.getCenter());
                    }

                });
            } else {
                nchar = $this.val().length;

            }
            //// console.log(nchar);


        });



        $("#upload_file_form").bind("submit", function() {
            // above check 
            $('#datainfo').show();
            $('#dataupload').show();
            var ext = $('#file_upload').val().split('.').pop().toLowerCase();
            var ext_sel = $('#type_file').val();

            $('#modal_checkext').modal() // initialized with defaults

            switch (ext_sel) {
                case 'geojson':
                    if ($.inArray(ext, [ext_sel]) == -1) {
                        $('#modal_check_ext_val').text(ext_sel);
                        $('#modal_check_ext_orig').text($('#file_upload').val().split('\\').pop().toLowerCase());
                        $('#modal_checkext').modal('show');

                        return false;
                    }
                    break;
                case 'gpx':
                    if ($.inArray(ext, [ext_sel]) == -1) {
                        $('#modal_check_ext_val').text(ext_sel);
                        $('#modal_check_ext_orig').text($('#file_upload').val().split('\\').pop().toLowerCase());
                        $('#modal_checkext').modal('show');

                        return false;
                    }
                    break;
                case 'csv':
                    if ($.inArray(ext, [ext_sel]) == -1) {
                        $('#modal_check_ext_val').text(ext_sel);
                        $('#modal_check_ext_orig').text($('#file_upload').val().split('\\').pop().toLowerCase());
                        $('#modal_checkext').modal('show');

                        return false;
                    }
                    break;
            }

        });



    });
</script>