<script>
    var ROADS = {
        rcode: "Asset Code",
        rname: "Asset Name",
        rcategory: "Road Category",
        rdateconstruct: "Year of Construction",
        rnumbridges: "No. of bridges",
        rnumculverts: "No. of culverts",
        rnumLongitudinaldrainage: "Km. of Longitudinal drainage",
        rnumretainingwalls: "No. of retaining walls",
        rnumcuttings: "No. of cuttings",
        rnumembankments: "No. of embankments",
        rnumbarriers: "No. of barriers",
        rnumverticalsignaling: "No. of vertical signaling",
        rnumstreetlights: "No. of street lights"
    };
    var gen_data = [];
    var g = -1;
    gen_data[++g] = '<div id="generaldatadiv" class="content-panel" style="display:none;">';
    gen_data[++g] = '<table class="table table-striped table-advance table-hover">';
    gen_data[++g] = '<thead><tr><th colspan="2" class="text-center">General Data</th><tr></thead>';
    gen_data[++g] = '<tbody id="generaldatatbody">';
    gen_data[++g] = '</tbody></table></div>';
    var inv_data = [];
    var i = -1;
    inv_data[++i] = '<div id="inventorydatadiv" class="content-panel" style="display:none;">';
    inv_data[++i] = '<table class="table table-striped table-advance table-hover">';
    inv_data[++i] = '<thead><tr><th colspan="2" class="text-center">Invetory Data</th><tr></thead>';
    inv_data[++i] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    inv_data[++i] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    inv_data[++i] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    inv_data[++i] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    inv_data[++i] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    inv_data[++i] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    inv_data[++i] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    inv_data[++i] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    inv_data[++i] = '</tbody></table></div>';
    var op_data = [];
    var o = -1;
    op_data[++o] = '<div id="operationdiv" class="content-panel" style="display:none;">';
    op_data[++o] = '<table class="table table-striped table-advance table-hover">';
    op_data[++o] = '<thead><tr><th colspan="2" class="text-center">Operation Data</th><tr></thead>';
    op_data[++o] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    op_data[++o] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    op_data[++o] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    op_data[++o] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    op_data[++o] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    op_data[++o] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    op_data[++o] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    op_data[++o] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    op_data[++o] = '</tbody></table></div>';
    var risk_data = [];
    var r = -1;
    risk_data[++r] = '<div id="riskdiv" class="content-panel" style="display:none;">';
    risk_data[++r] = '<table class="table table-striped table-advance table-hover">';
    risk_data[++r] = '<thead><tr><th colspan="2" class="text-center">Indexes and risk analysis</th><tr></thead>';
    risk_data[++r] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    risk_data[++r] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    risk_data[++r] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    risk_data[++r] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    risk_data[++r] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    risk_data[++r] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    risk_data[++r] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    risk_data[++r] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    risk_data[++r] = '</tbody></table></div>';
</script>