<script>
    var ifdtobject;
    var nchar = 0;
    var gen_data = [];
    var g = -1;
    gen_data[++g] = '<div id="generaldatadiv" class="content-panel" style="display:none;">';
    gen_data[++g] = '<table class="table table-striped table-advance table-hover">';
    gen_data[++g] = '<thead><tr><th colspan="2" class="text-center">General Data</th><tr></thead>';
    gen_data[++g] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    gen_data[++g] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    gen_data[++g] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    gen_data[++g] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    gen_data[++g] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    gen_data[++g] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    gen_data[++g] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    gen_data[++g] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    gen_data[++g] = '</tbody></table></div>';
    var inv_data = [];
    var i = -1;
    inv_data[++i] = '<div id="inventorydatadiv" class="content-panel" style="display:none;">';
    inv_data[++i] = '<table class="table table-striped table-advance table-hover">';
    inv_data[++i] = '<thead><tr><th colspan="2" class="text-center">Invetory Data</th><tr></thead>';
    inv_data[++i] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    inv_data[++i] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    inv_data[++i] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    inv_data[++i] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    inv_data[++i] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    inv_data[++i] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    inv_data[++i] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    inv_data[++i] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    inv_data[++i] = '</tbody></table></div>';
    var op_data = [];
    var o = -1;
    op_data[++o] = '<div id="operationdiv" class="content-panel" style="display:none;">';
    op_data[++o] = '<table class="table table-striped table-advance table-hover">';
    op_data[++o] = '<thead><tr><th colspan="2" class="text-center">Operation Data</th><tr></thead>';
    op_data[++o] = "<tr><td>Asseet Code</td><td> M1-SG-BR-000+010</td></tr>";
    op_data[++o] = "<tr><td>Asset Name</td><td> NA</td></tr>";
    op_data[++o] = "<tr><td>Year of Construction</td><td> 2004</td></tr>";
    op_data[++o] = "<tr><td>Structural Type</td><td> Girders</td></tr>";
    op_data[++o] = "<tr><td>Enviroment</td><td> Rural</td></tr>";
    op_data[++o] = "<tr><td>Obstade overpassed</td><td> River</td></tr>";
    op_data[++o] = "<tr><td>Design Flood</td><td> Scenario 100 years</td></tr>";
    op_data[++o] = "<tr><td>Load Capacity</td><td> -</td></tr>";
    op_data[++o] = '</tbody></table></div>';

    $(document).ready(function() {

        $('#generaldata').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(gen_data.join(''));
                $('#generaldatadiv').show();

            } else {
                $('#generaldatadiv').hide();

            }
        });
        $('#inventorydata').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(inv_data.join(''));
                $('#inventorydatadiv').show();

            } else {
                $('#inventorydatadiv').hide();

            }
        });
        $('#operation').click(function() {
            var $this = $(this);
            $('#divmap1').show();
            if ($this.prop('checked')) {
                nchar = $this.val().length;
                $('#divmap1').append(op_data.join(''));
                $('#operationdiv').show();

            } else {
                $('#operationdiv').hide();

            }
        });

        $("#searchtool").on('keyup', function(e) {
            var $this = $(this);

            if (e.keyCode == 13) {
                // Do something
                // alert('Buscando ...');
                $('#error').hide();
                $('#error').empty();

                var dataPost = {};

                var p1 = $.ajax({
                    url: '/auth/WEB/infodatatrack/list_ifdt/' + $this.val(),
                    data: JSON.stringify(dataPost),
                    type: 'POST',
                    contentType: 'application/json'
                }, function(data) {
                    // console.log('koboinfo ' + JSON.stringify(data));
                    return (data);
                });
                Promise.all([p1]).then(function(values) {
                    ifdt = values[0];
                    console.log(ifdt);
                    if (ifdt.length > 0) {
                        ifdtobject = ifdt[0];
                        console.log(ifdt[0]);
                    } else {
                        $('#error').show();
                        $('#error').append("Search not found.<br>Try again.");
                    }

                });
            }
        });
        $('#searchtool').on('input', function() {

            var $this = $(this);

            if (nchar == 0) {
                nchar = $this.val().length;
                $("#divmap2").animate({
                    width: '50%'
                }, 1500, function() {
                    $('#rowmap').prepend('<div id="divmap1"' +
                        'class="col-md-6" style="height:80vh;" >' +
                        '</div>'
                    );
                    $("#divmap2").toggleClass('col-md-12 col-md-6');
                    if (map) {
                        // console.log(map.getCenter());
                        google.maps.event.trigger(map, 'resize');
                        map.setCenter(new google.maps.LatLng(15.41, -61.32));
                        map.panTo(new google.maps.LatLng(15.41, -61.32));
                        // console.log(map.getCenter());
                    }
                    $('#datainfo').show();

                });
            } else {
                nchar = $this.val().length;

            }
            console.log(nchar);


        });


    });
</script>