<script>
    var dataPost;
    var dataTrack;
    var propertiesCols = {
        Trackinfo: {
            id: "id",
            inv: "Act",
            time: "time",
            coordinates: "coord",
            RUTMlong: "Long",
            RUTMlat: "Lat",
            RUTMElevation: "Elev"

        },
        road: {
            surveyor: "Name of surveyor",
            datesurvey: "Date of survey",
            coordTimes: "Movie record time",
            district: "District",
            rcode: "Road code",
            rname: "Road name",
            rcategory: "Road category",
            rutmlong: "Longitude",
            rutmlat: "Latitude",
            rutmelevation: "Elevation (m)",
            rdateconstruct: "Date of construction",
            rmaterial: "Pavement material",
            rbasematerial: "Base material",
            rsubbasematerial: "Subbase material",
            rlaneinc: "Number of lanes (increasing KP)",
            rlanedecr: "Number of lanes (decreasing KP)",
            rlanetotal: "Total number of lanes",
            rwidth: "Total width (m)",
            rlocdoc: "Location of the documentation of road projects",
            rvideo: "Video",
            ralternatitinerary: "Existence of alternative itinerary",
            rdendritic: "Road dendritic rank",
            ropen: "Is the road open to traffic?",
            rgauging: "Existence of gauging stations",
            radt: "ADT",
            rtrafficpeak: "Traffic high peak",
            iri: "IRI - Pavement roughtness",
            rvcondition: "Current visual condition",
            rconslos: "Consequences of failure on LOS",
            rprevcondition: "Previous condition rate",
            rlastinspection: "Date of last inspection",
            rsurveyfreq: "Survey frequency",
            rnextsurvey: "Date of next survey",
            rfailure: "Failure history",
            rlastoverlay: "Date of last overlay",
            rlastyearinterv: "Have there been past interventions performed during the last year?",
            rlastyearintervextent: "Have they been global or partial interventions?",
            rlastyearintervdate: "Date of performance of last year interventions",
            rlastyearintervscope: "Scope of last year interventions",
            rlastyearintervcost: "Cost of last year interventions",
            rlastyearintervimpactcond: "Impact of last year interventions on asset condition",
            rlocdoclastyearinterv: "Location of the documentation of last year interventions",
            rcurryearinterv: "Have there been interventions performed during the current year?",
            rcurryearintervextent: "Have they been global or partial interventions?",
            rcurryearintervdate: "Date of performance of current year interventions",
            rcurryearintervscope: "Scope of current year interventions",
            rcurryearintervcost: "Accummulated Cost of current year interventions",
            rlocdoccurryearinterv: "Location of the documentation of last year interventions",
            rmaintissues: "Maintainability issues",
            rinvestment10years: "Investment undertaken in the last 10 years (EC$)",
            rinvestmentrequired: "Investment required to upgrade to A class (EC$)",
            romcomments: "Comments to operation and maintainance",
            rinfrint: "Acess to airports/ferry ports",
            rtourism: "Access to touristic sites",
            rindustry: "Acess to industry, agriculture, fishing sites",
            rindustrydist: "Distance to industries, agriculture, fishing sites",
            rhealth: "Access to health care services",
            renvironment: "Located within an environmentally protected area",
            rwaste: "Distance to a dumping area",
            rcondition: "Current condition",
            rcriticality: "Criticality",
            rlandslide: "Exposure to landslide hazard",
            rflood: "Exposure to flood hazard",
            rresphazard: "Asset Response against hazards",
            rsensitivity: "Asset Sensitivity",
            rrisk: "RISK",
            rriskphysical: "Risk due to Physical Deterioration",
            rrisknatural: "Risk due to Natural Hazards"
        },
        furniture: {
            rbarriersexist: "Existence of barriers",
            rbarrierstype: "Typology of barriers",
            rsafetyfence: "Typology of safety fences",
            rbarrierfunct: "Functionality - Is the asset functioning as it is expected?",
            rsignalsexist: "Existence of signposting and road signs",
            rsignalstype: "Typology of signaling",
            rvsignalstype: "Typology of vertical signaling",
            rsignalsfunct: "Functionality - Is the asset functioning as it is expected?",
            rlightexist: "Existence of street lighting",
            rlighttype: "Typology of street lighting",
            rlightfunct: "Functionality - Is the asset functioning as it is expected?",
            rfpastinterv: "Have there been past interventions?",
            rfyearinterv: "Year of performance of past interventions",
            rfcomments: "Comments"
        },
        bridges: {
            bcode: "Asset Code",
            bexistence: "Existence of bridge",
            bname: "Bridge name",
            byearconstruc: "Year of construction",
            btype: "Structural typology",
            bsurrounding: "Surrounding - Environment",
            bobstaclesaved: "Obstacle overpassed",
            bfloodscenario: "Design flood scenario",
            Bloadcapacity: "Load capacity",
            bmaterialdeck: "Material - Deck",
            bmaterialgirder: "Material - Girders",
            bmaterialpiers: "Material - Piers",
            bmaterialabutments: "Material - Abutments",
            balignment: "Bridge alignment",
            bspans: "Single or multiple span?",
            bnumberspans: "Number of spans",
            blenght: "Total length (m)",
            bmaxspan: "Maximum span (m)",
            bwidth: "Total width (m)",
            bfreeheight: "Free height (m)",
            bfoundation: "Foundations typology",
            bpiersriver: "Existence of piers over riverbed",
            bprotectabut: "Protection of abutments /nearby areas",
            bprojectlocation: "Location of the documentation of bridge projects",
            bphoto: "Photographs",
            balternative: "Existence of alternative itinerary",
            bvisualcondition: "Current visual condition",
            bconslos: "Consequences of failure on LOS",
            bprevcondition: "Previous condition rate",
            blastinspection: "Date of last inspection",
            bsurveyfreq: "Survey frequency",
            bnextsurvey: "Date of next survey",
            bfailure: "Failure history",
            bdamagesfoundations: "Damages on foundations",
            bdamagesfoundationsgeneraltype: "Type of damages on foundations (from foundation-ground decay, from foundation decay)",
            bdamagesfoundationsdetailedtype: "Type of damages on foundations due to foundation-ground decay",
            bdamagesstructural: "Damages on structural elements",
            bdamagesvaultsarchesmechanicaldurable: "Damages on vault / arches (mechanical vs. durable)",
            BDamagesVaultArchesSeverity: "Severity of damages on vault / arches",
            BDamagesPiers: "Damages on piers (mechanical vs. durable)",
            BDamagesPiersSeverity: "Severity of damages on piers",
            BDamagesSpandrel: "Damages on spandrel walls (mechanical vs. durable)",
            BDamagesSpandrelSeverity: "Severity of damages on spandrel walls",
            BDamagesAbutments: "Damages on abutments (mechanical vs. durable)",
            BDamagesAbutmentsSeverity: "Severity of damages on abutments",
            BDamagesSidewalls: "Damages on side walls (mechanical vs. durable)",
            BDamagessidewallsSeverity: "Severity of damages on side walls",
            BDamagesSlab: "Damages on slab (mechanical vs. durable)",
            BDamagesslabSeverity: "Severity of damages on slab",
            BDamagesBeams: "Damages on beams (mechanical vs. durable)",
            BDamagesBeamsSeverity: "Severity of damages on beams",
            BDamagesBearings: "Damages on bearings (mechanical vs. durable)",
            BDamagesBearingsSeverity: "Severity of damages on bearings",
            BDamagesSpecialareas: "Damages on special areas (mechanical vs. durable)",
            BDamagesSpecialareasSeverity: "Severity of damages on special areas",
            bdamagesnonstructural: "Damages on non structural elements",
            BLastYearInterv: "Have there been past interventions performed during the last year?",
            BLastYearIntervExtent: "Have they been global or partial interventions?",
            BLastYearIntervDate: "Date of performance of last year interventions",
            BLastYearIntervScope: "Scope of last year interventions",
            BLastYearIntervCost: "Cost of last year interventions",
            BLastYearIntervImpactCond: "Impact of last year interventions on asset condition",
            BLocDocLastYearInterv: "Location of the documentation of last year interventions",
            BCurrYearInterv: "Have there been interventions performed during the current year?",
            BCurrYearIntervExtent: "Have they been global or partial interventions?",
            BCurrYearIntervDate: "Date of performance of current year interventions",
            BCurrYearIntervScope: "Scope of current year interventions",
            BCurrYearIntervCost: "Accummulated cost of current year interventions",
            BLocDocCurrYearInterv: "Location of the documentation of last year interventions",
            BMaintIssues: "Maintainability issues",
            Binvestment10years: "Investment undertaken in the last 10 years (EC$)",
            binvestmentrequired: "Investment required to upgrade to A class (EC$)",
            bomcomments: "Comments to operation and maintainance",
            bcondition: "Current condition",
            bcriticality: "Criticality",
            blandslide: "Exposure to landslide hazard",
            bflood: "Exposure to flood hazard",
            bresphazard: "Asset Response against hazards",
            bsensitivity: "Asset Sensitivity",
            brisk: "RISK",
            briskphysical: "Risk due to Physical Deterioration",
            brisknatural: "Risk due to Natural Hazards"
        },
        geotechnicals: {
            gcode: "Asset Code",
            gyearconstruct: "Year of construction",
            gtype: "Type of geotechnical asset",
            gposition: "Position",
            gmaterial: "Material - Retaining walls",
            gnature: "Nature - Earthworks",
            gheight: "Height (m)",
            gh_h: "Relation h/H ",
            gslope: "Slope / Angle (ยบ)",
            gdistance: "Distance to road (m)",
            gshoulders: "Shoulders / Verges",
            glength: "Length (m)",
            gblocks: "Size of blocks (m)",
            gtreatments: "Existence of geotechnical treatments",
            gtreatmentsretaining: "Existence  of retaining treatments",
            gtreatmentsretainingtype: "Type  of retaining treatments",
            gtreatmentsretainingextension: "Extension of retaining treatments (%)",
            gtreatmentsretainingeffectiveness: "Effectiveness of retaining treatments",
            gtreatmentsretainingconservation: "Conservation of retaining treatments",
            gtreatmentsretainingother: "Other retaining treatments",
            gtreatmentsdefence: "Existence  of defence treatments",
            gtreatmentsdefencetype: "Type  of defence treatments",
            gtreatmentsdefenceextension: "Extension of defence treatments (%)",
            gtreatmentsdefenceeffectiveness: "Effectiveness of defence treatments",
            gtreatmentsdefenceconservation: "Conservation of defence treatments",
            gtreatmentsdefenceother: "Other defence treatments",
            gtreatmentscoating: "Existence  of coating treatments",
            gtreatmentscoatingtype: "Type  of coating treatments",
            gtreatmentscoatingextension: "Extension of coating treatments (%)",
            gtreatmentscoatingeffectiveness: "Effectiveness of coating treatments",
            gtreatmentscoatingconservation: "Conservation of coating treatments",
            gtreatmentscoatingother: "Other coating treatments",
            gtreatmentsinternaldrainages: "Existence  of internal drainages",
            gtreatmentsinternaldrainagesextension: "Extension of internal drainages (%)",
            gtreatmentsinternaldrainageseffectiveness: "Effectiveness of internal drainages",
            gtreatmentsinternaldrainagesconservation: "Conservation of internal drainages",
            gvegetation: "Existence of vegetation",
            gtypevegetation: "Type of vegetation",
            gphoto: "Photographs",
            gvisualcondition: "Current visual condition",
            gconslos: "Consequences of failure on LOS",
            gprevcondition: "Previous condition rate",
            glastinspection: "Date of last inspection",
            gsurveyfreq: "Survey frequency",
            gnextsurvey: "Date of next survey",
            gfailure: "Failure history",
            gevidrecfailures: "Evidence of recent failures?",
            gtypefailure: "Type of failure process",
            gintensityfailure: "Intensity of failure process",
            gextentfailure: "Extent of failure (%)",
            gpastinterv: "Have there been past interventions performed during the last year?",
            gintervextent: "Have they been global or partial interventions?",
            gdateinterv: "Date of performance of last year interventions",
            gscopeinterv: "Scope of last year interventions",
            qintervcost: "Cost of last year interventions",
            gimpactinterv: "Impact of last year interventions on asset condition",
            glocdocinterv: "Location of the documentation of last year interventions",
            gcurryearinterv: "Have there been interventions performed during the current year?",
            gcurryearintervextent: "Have they been global or partial interventions?",
            gcurryearintervdate: "Date of performance of current year interventions",
            gcurryearintervscope: "Scope of current year interventions",
            gcurryearintervcost: "Accummulated cost of current year interventions",
            glocdoccurryearinterv: "Location of the documentation of last year interventions",
            gmaintissues: "Maintainability issues",
            ginvestment10years: "Investment undertaken in the last 10 years (EC$)",
            rginvestmentrequired: "Investment required to upgrade to A class (EC$)",
            gomcomments: "Comments to maintainance",
            gcondition: "Current condition",
            gcriticality: "Criticality",
            glandslide: "Exposure to landslide hazard",
            gflood: "Exposure to flood hazard",
            gresphazard: "Asset Response against hazards",
            gsensitivity: "Asset Sensitivity",
            grisk: "RISK",
            griskphysical: "Risk due to Physical Deterioration",
            grisknatural: "Risk due to Natural Hazards",
            gcode2: "Asset Code",
            gyearconstruct2: "Year of construction",
            gtype2: "Type of geotechnical asset",
            gposition2: "Position",
            gmaterial2: "Material - Retaining walls",
            gnature2: "Nature - Earthworks",
            gheight2: "Height (m)",
            gh_h2: "Relation h/H ",
            gslope2: "Slope / Angle (ยบ)",
            gdistance2: "Distance to road (m)",
            gshoulders2: "Shoulders / Verges",
            glength2: "Length (m)",
            gblocks2: "Size of blocks (m)",
            gtreatments2: "Existence of geotechnical treatments",
            gtreatmentsretaining2: "Existence  of retaining treatments",
            gtreatmentsretainingtype2: "Type  of retaining treatments",
            gtreatmentsretainingextension2: "Extension of retaining treatments (%)",
            gtreatmentsretainingeffectiveness2: "Effectiveness of retaining treatments",
            gtreatmentsretainingconservation2: "Conservation of retaining treatments",
            gtreatmentsretainingother2: "Other retaining treatments",
            gtreatmentsdefence2: "Existence  of defence treatments",
            gtreatmentsdefencetype2: "Type  of defence treatments",
            gtreatmentsdefenceextension2: "Extension of defence treatments (%)",
            gtreatmentsdefenceeffectiveness2: "Effectiveness of defence treatments",
            gtreatmentsdefenceconservation2: "Conservation of defence treatments",
            gtreatmentsdefenceother2: "Other defence treatments",
            gtreatmentscoating2: "Existence  of coating treatments",
            gtreatmentscoatingtype2: "Type  of coating treatments",
            gtreatmentscoatingextension2: "Extension of coating treatments (%)",
            gtreatmentscoatingeffectiveness2: "Effectiveness of coating treatments",
            gtreatmentscoatingconservation2: "Conservation of coating treatments",
            gtreatmentscoatingother2: "Other coating treatments",
            gtreatmentsinternaldrainages2: "Existence  of internal drainages",
            gtreatmentsinternaldrainagesextension2: "Extension of internal drainages (%)",
            gtreatmentsinternaldrainageseffectiveness2: "Effectiveness of internal drainages",
            gtreatmentsinternaldrainagesconservation2: "Conservation of internal drainages",
            gvegetation2: "Existence of vegetation",
            gtypevegetation2: "Type of vegetation",
            gphoto2: "Photographs",
            gvisualcondition2: "Current visual condition",
            gconslos2: "Consequences of failure on LOS",
            gprevcondition2: "Previous condition rate",
            glastinspection2: "Date of last inspection",
            gsurveyfreq2: "Survey frequency",
            gnextsurvey2: "Date of next survey",
            gfailure2: "Failure history",
            gevidrecfailures2: "Evidence of recent failures?",
            gtypefailure2: "Type of failure process",
            gintensityfailure2: "Intensity of failure process",
            gextentfailure2: "Extent of failure (%)",
            gpastinterv2: "Have there been past interventions performed during the last year?",
            gintervextent2: "Have they been global or partial interventions?",
            gdateinterv2: "Date of performance of last year interventions",
            gscopeinterv2: "Scope of last year interventions",
            qintervcost2: "Cost of last year interventions",
            gimpactinterv2: "Impact of last year interventions on asset condition",
            glocdocinterv2: "Location of the documentation of last year interventions",
            gcurryearinterv2: "Have there been interventions performed during the current year?",
            gcurryearintervextent2: "Have they been global or partial interventions?",
            gcurryearintervdate2: "Date of performance of current year interventions",
            gcurryearintervscope2: "Scope of current year interventions",
            gcurryearintervcost2: "Accummulated cost of current year interventions",
            glocdoccurryearinterv2: "Location of the documentation of last year interventions",
            gmaintissues2: "Maintainability issues",
            ginvestment10years2: "Investment undertaken in the last 10 years (EC$)",
            rginvestmentrequired2: "Investment required to upgrade to A class (EC$)",
            gomcomments2: "Comments to maintainance",
            gcondition2: "Current condition",
            gcriticality2: "Criticality",
            glandslide2: "Exposure to landslide hazard",
            gflood2: "Exposure to flood hazard",
            gresphazard2: "Asset Response against hazards",
            gsensitivity2: "Asset Sensitivity",
            grisk2: "RISK",
            griskphysical2: "Risk due to Physical Deterioration",
            grisknatural2: "Risk due to Natural Hazards"
        },
        culvert: {
            Ccode: "Asset Code",
            Cyearconstruc: "Year of construction",
            Ctype: "Type of drainage",
            Clocation: "Culvert location",
            Cfeeding: "Feeding system",
            Csection: "Type of section",
            Ccapacity: "Drain Capacity",
            Crainpeak: "Design rain peak values",
            Cmaterial: "Material",
            Cnumelem: "Number of elements",
            Cdiameter: "Diameter / Height (m)",
            Cwidth: "Width (m)",
            Clength: "Length (m)",
            Cprotentrance: "Protection of embankment at the drain entrance",
            Cprotexit: "Protection bed / inverter arch at the drain exit",
            Cphoto: "Photographs",
            CVisualCondition: "Current visual condition",
            CConsLOS: "Consequences of failure on LOS",
            CPrevCondition: "Previous condition rate",
            CLastInspection: "Date of last inspection",
            CSurveyFreq: "Survey frequency",
            CNextSurvey: "Date of next survey",
            Cfailure: "Failure history",
            CDamages: "Damages on culverts",
            Cclearing: "Clearing required",
            CLostSection: "Lost of section due to blocking/silting/obstacles (%)",
            CLastYearInterv: "Have there been past interventions performed during the last year?",
            CLastYearIntervExtent: "Have they been global or partial interventions?",
            CLastYearIntervDate: "Date of performance of last year interventions",
            CLastYearIntervScope: "Scope of last year interventions",
            CLastYearIntervCost: "Cost of last year interventions",
            CLastYearIntervImpactCond: "Impact of last year interventions on asset condition",
            CLocDocLastYearInterv: "Location of the documentation of last year interventions",
            CCurrYearInterv: "Have there been interventions performed during the current year?",
            CCurrYearIntervExtent: "Have they been global or partial interventions?",
            CCurrYearIntervDate: "Date of performance of current year interventions",
            CCurrYearIntervScope: "Scope of current year interventions",
            CCurrYearIntervCost: "Accummulated cost of current year interventions",
            CLocDocCurrYearInterv: "Location of the documentation of last year interventions",
            CMaintIssues: "Maintainability issues",
            Cinvestment10years: "Investment undertaken in the last 10 years (EC$)",
            Cinvestmentrequired: "Investment required to upgrade to A class (EC$)",
            COMComments: "Comments to operation and maintainance",
            Ccondition: "Current condition",
            Ccriticality: "Criticality",
            CLandslide: "Exposure to landslide hazard",
            CFlood: "Exposure to flood hazard",
            CRespHazard: "Asset Response against hazards",
            Csensitivity: "Asset Sensitivity",
            CRISK: "RISK",
            CRISKphysical: "Risk due to Physical Deterioration",
            CRISKnatural: "Risk due to Natural Hazards"
        },
        drainage: {
            dcode: "Asset Code",
            dyearconstruc: "Year of construction",
            dtype: "Type of drainage",
            dsection: "Type of section",
            dposition: "Position",
            dslope: "Slope (%)",
            dphoto: "Photographs",
            dconslos: "Consequences of failure on LOS",
            dfailure: "Failure history",
            dlastinspection: "Have there been past interventions performed during the last year?",
            dintervextent: "Have they been global or partial interventions?",
            ddateinterv: "Date of performance of last year interventions",
            dscopeinterv: "Scope of last year interventions",
            dlastyearintervcost: "Cost of last year interventions",
            dlocdocinterv: "Location of the documentation of last year interventions",
            dcurryearinterv: "Have there been interventions performed during the current year?",
            dcurryearintervextent: "Have they been global or partial interventions?",
            dcurryearintervdate: "Date of performance of current year interventions",
            dcurryearintervscope: "Scope of current year interventions",
            dcurryearintervcost: "Accummulated cost of current year interventions",
            dlocdoccurryearinterv: "Location of the documentation of last year interventions",
            dmaintissues: "Maintainability issues",
            dinvestment10years: "Investment undertaken in the last 10 years (EC$)",
            dinvestmentrequired: "Investment required for replacement (EC$)",
            domcomments: "Comments to operation and maintainance",
            dcode2: "Asset Code",
            dyearconstruc2: "Year of construction",
            dtype2: "Type of drainage",
            dsection2: "Type of section",
            dposition2: "Position",
            dslope2: "Slope (%)",
            dphoto2: "Photographs",
            dconslos2: "Consequences of failure on LOS",
            dfailure2: "Failure history",
            dlastinspection2: "Have there been past interventions performed during the last year?",
            dintervextent2: "Have they been global or partial interventions?",
            ddateinterv2: "Date of performance of last year interventions",
            dscopeinterv2: "Scope of last year interventions",
            dlastyearintervcost2: "Cost of last year interventions",
            dlocdocinterv2: "Location of the documentation of last year interventions",
            dcurryearinterv2: "Have there been interventions performed during the current year?",
            dcurryearintervextent2: "Have they been global or partial interventions?",
            dcurryearintervdate2: "Date of performance of current year interventions",
            dcurryearintervscope2: "Scope of current year interventions",
            dcurryearintervcost2: "Accummulated cost of current year interventions",
            dlocdoccurryearinterv2: "Location of the documentation of last year interventions",
            dmaintissues2: "Maintainability issues",
            dinvestment10years2: "Investment undertaken in the last 10 years (EC$)",
            dinvestmentrequired2: "Investment required for replacement (EC$)",
            domcomments2: "Comments to operation and maintainance"
        }
    };
    $(document).ready(function () {
        //console.log("ready!");
        // $('#editbutton').hide();
        // $('#versionbutton').hide();
        // $('#downloadbutton').hide();

        var options = $('#infodatas option');
        var arr = options.map(function (_, o) {
            return {
                t: $(o).text(),
                v: o.value
            };
        }).get();
        arr.sort(function (o1, o2) {
            return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
        });
        var first = {
            t: '- Select option -',
            v: '0'
        }
        arr.unshift(first);
        options.each(function (i, o) {
            o.value = arr[i].v;
            $(o).text(arr[i].t);
        });

    });

    // function go_edit_road() {
    //     // alert($("#roads").val());
    //     var id = $("#infodatas").val();
    //     if (id == 0) {
    //         window.location = '#';
    //     } else {
    //         window.location = '/auth/WEB/infodatatrack/edit_infodatatrack/' + dataTrack._id;
    //     }
    // }

    function go_edit_database_road() {
        // alert($("#roads").val());
        var id = $("#infodatas").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_database_infodatatrack/' + dataTrack._id;
        }
    }
    $('#downloadbutton').click(function () {
        $("<a />", {
                "download": "data.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(dataTrack))
            }).appendTo("body")
            .click(function () {
                $(this).remove()
            })[0].click()
    });

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }
    $('#exportbutton').click(function (e) {

        var name = 'exported_track_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
        $("#dataTable").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Export data",
            filename: name //do not include extension
        });


    });


    $('#versionbutton').click(function () {
        // alert('Versionando documento');
        dataPost.properties.video_roads = dataPost._id;
        delete dataPost._id;
        delete dataPost.returnId;
        delete dataPost.created_at;
        delete dataPost.updated_at;
        ////console.log(dataPost);
        var p1 = $.ajax({
            url: '/auth/WEB/infodatatrack/save_tabular_data',
            data: JSON.stringify(dataPost),
            type: 'POST',
            contentType: 'application/json'
        }, function (data) {
            // //console.log('dataRoad ' + JSON.stringify(data));
            return (data);
        });

        Promise.all([p1]).then(function (values) {
            $('#ultimaversion').empty();
            // $('#editbutton').show();
            $('#editdatabasebutton').show();
            $('#downloadbutton').show();
            $('#exportbutton').show();
            ////console.log(JSON.stringify(values));
            $('#ultimaversion').append('<b> Version: ' + moment(values[0].updated_at).format(
                'DD-MM-YYYY HH:mm:ss') + '</b>');
            $('#ultimaversion').show();
            dataTrack = values[0];
        }).catch(function (reason) {
            //console.log(reason)
        });
    });
    $(document).on('change', "#infodatas", function () {
        var id = $("#infodatas").val();
        // alert("ACT " + id);
        $("#accordion").hide();
        $("#accordion").slideToggle('slow');
        var p2 = $.get('/auth/WEB/infodatatrack/list_infodatatrackbyid/' + id, function (data) {
            //console.log('list_infodatatrack ' + JSON.stringify(data));
            if (data) {
                data.returnId = "datatrack";
                return data;
            } else {
                return undefined;
            }

        });

        Promise.all([p2]).then(function (values) {
            var dataRoad;
            dataTrack = values[0];
            // console.log(JSON.stringify(dataTrack));
            if (dataTrack !== "undefined" && dataTrack != null) {
                $('#ultimaversion').empty();
                $('#ultimaversion').append('<b> Version: ' + moment(dataTrack.updated_at).format(
                    'DD-MM-YYYY HH:mm:ss') + '</b>');
                $('#ultimaversion').show();
                // $('#editbutton').show();
                $('#editdatabasebutton').show();
                $('#downloadbutton').show();
                $('#exportbutton').show();
                $('#versionbutton').hide();

                dataRoad = dataTrack;
                //console.log('dataTrack ' + dataRoad);
                //console.log(dataRoad);
                var r = new Array(),
                    j = -1;
                r[++j] = '<thead>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function (key1, value1) {
                    r[++j] = '<th colspan="' + Object.keys(propertiesCols[key1]).length +
                        '" scope="colgroup" class="' +
                        key1 + '" >' + key1 + '</th>';
                });
                r[++j] = '</tr>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function (key1, value1) {
                    //console.log(key1, value1);
                    $.each(value1, function (key, value) {
                        //console.log(key, value);
                        r[++j] = '<th title="' + key + '" class="' + key1 +
                            '" style="max-width:100px; white-space:pre-wrap;">' + value +
                            '</th>';
                    });
                });
                r[++j] = '</tr></thead>';

                dataRoad.properties.coordTimes.forEach(function (drval, drindex) {
                    r[++j] = '<tr>';
                    $.each(propertiesCols, function (key1, value1) {
                        //console.log(key1, value1);

                        //console.log(key, value);
                        if (key1 === 'Trackinfo') {
                            r[++j] = '<td>';
                            r[++j] = drindex;
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.properties.inventario ? dataRoad.properties
                                .inventario[drindex] : '--';
                            r[++j] = '</td><td>';
                            r[++j] = moment(dataRoad.properties.coordTimes[drindex]).format(
                                'DD-MM-YYYY HH:mm:ss');
                            r[++j] = '</td><td>';
                            r[++j] = '[ ' + dataRoad.geometry.coordinates[drindex] +
                                ' ]';
                            r[++j] = '</td>';
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.geometry.coordinates[drindex][0];
                            r[++j] = '</td>';
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.geometry.coordinates[drindex][1];
                            r[++j] = '</td>';
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.geometry.coordinates[drindex][2];
                            r[++j] = '</td>';
                        } else {
                            $.each(value1, function (key, value) {
                                r[++j] = '<td>';
                                r[++j] = (dataRoad.properties[key] != undefined &&
                                    dataRoad.properties[key][drindex] !=
                                    undefined) ? dataRoad.properties[key][
                                    drindex
                                ] : '--';
                                r[++j] = '</td>';
                            });
                        }
                    });
                    r[++j] = '</tr>';
                });
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));
            }
            //else {
            //     $('#ultimaversion').empty();
            //     $('#ultimaversion').hide();
            //     $('#editbutton').hide();
            //     $('#editvideobutton').hide();
            //     $('#downloadbutton').hide();
            //     dataRoad = dataPost;
            //     //console.log('dataPost ' + dataPost);
            //     //console.log(dataPost);
            // }

        });
        // location.load();
    });
    $(document).on('change', "#roads", function () {
        var id = $("#roads").val();
        $('#ultimaversion').empty();
        $('#ultimaversion').hide();
        // $('#editbutton').hide();
        $('#editdatabasebutton').hide();
        $('#downloadbutton').hide();
        $('#exportbutton').hide();
        $('#dataTable').empty();
        $('#versionbutton').show();
        // alert("ACT " + id);
        if (id != 0) {
            var p1 = $.post('/auth/WEB/road/tabular_data/' + id, function (data) {
                data.returnId = "roads";
                //console.log('dataRoad ' + JSON.stringify(data));
                return (data);
            });


            Promise.all([p1]).then(function (values) {
                dataPost = values[0];
                //console.log(dataTrack);



            }).catch(function (reason) {
                //console.log(reason)
            });
        } else {
            $('#dataTable').html('');
            $("#accordion").hide();

        }
        // location.load();
    });
</script>