<script>
    var dataPost;
    var dataTrack;
    var propertiesCols = {
        Trackinfo: {
            id: [],
            inv: [],
            time: [],
            coordinates: []
        },
        road: {
            pk: [],
            rcode: [], // ROADS Group 1
            iri: [],
            road_category: [],
            inventario: [],
            date_construction: [],
            alternative_itinerary: [],
            open_traffic: [],
            existence_gauging_stations: [],
            adt: [],
            traffic_high_peak: [],
            pavement_material: [], // ROADS Group 2
            base_material: [],
            subbase_material: [],
            number_lanes_inc: [],
            number_lanes_dec: [],
            total_number_lanes: [],
            total_width: [],
            location_doc_road_projects: [],
            last_inspection: [], // ROADS Group 3
            prev_condition: [],
            failure_history: [],
            cons_LOS: [],
            survey_freq: [],
            next_survey: [],
            past_interv: [],
            interv_extent: [],
            year_interv: [],
            scope_interv: [],
            impact_interv: [],
            loc_doc_interv: [],
            maint_issues: [],
            investment10years: [],
            investment_required: [],
            om_comments: [],
            acess_airports_ferry_ports: [], //ROADS Group 4
            distance_airports_ferry_ports: [],
            access_turistic_sites: [],
            distance_turistic_sites: [],
            acess_industry_agriculture_fishing_sites: [],
            distance_industries_agriculture_fishing_sites: [],
            access_social_services: [],
            distance_social_services: [],
            located_within_an_environmentally_protected_area: [],
            distance_a_dumping_area: [],
            current_visual_condition: [],
            current_condition: [],
            criticality: [],
            exposure_landslide_hazard: [],
            exposure_flood_hazard: [],
            asset_response_against_hazards: [],
            asset_sensitivity: [],
            risk: []
        },
        furniture: {
            RBarriersExist: [], //Road Furniture Data        
            RBarriersType: [],
            RSafetyFence: [],
            RBarrierFunct: [],
            RSignalsExist: [],
            RSignalsType: [],
            RVSignalsType: [],
            RSignalsFunct: [],
            RLightExist: [],
            RLightType: [],
            RLightFunct: [],
            RFPastInterv: [],
            RFYearInterv: [],
            RFComments: []
        },
        bridges: {
            bcode: [], // BRIDGES        
            bexists: [],
            bname: [],
            byearconstruc: [],
            btype: [],
            bsurrounding: [],
            balternative: [],
            bobstaclesaved: [],
            bfloodscenario: [],
            bmaterialdeck: [],
            bmaterialgirder: [],
            bmaterialpiers: [],
            bmaterialabutments: [],
            balignment: [],
            bspans: [],
            bnumberspans: [],
            blenght: [],
            bmaxspan: [],
            bwidth: [],
            bfreeheight: [],
            bfoundation: [],
            bpiersriver: [],
            bprotectabut: [],
            bprojectlocation: [],
            bphoto: [],
            blastinspection: [],
            bprevcondition: [],
            bvisualcondition: [],
            bdamagesfoundations: [],
            bdamagesstructural: [],
            bdamagesnonstructural: [],
            bdamagesstructuralgeneraltype: [],
            bdamagesvaultsarchesmechanicaldurable: [],
            bdamagesvaultsarchesimportance: [],
            bdamagespiersmechanicaldurable: [],
            bdamagespiersimportance: [],
            bdamagesspandrelwallmechanicaldurable: [],
            bdamagesspandrelwallimportance: [],
            bdamagesabutmentsmechanicaldurable: [],
            bdamagesabutmentsimportance: [],
            bdamagessidewallsmechanicaldurable: [],
            bdamagessidewallsimportance: [],
            bdamagesslabmechanicaldurable: [],
            bdamagesslabimportance: [],
            bdamagesbeamsbracesmechanicaldurable: [],
            bdamagesbeamsbracesimportance: [],
            bdamagesbearingstype: [],
            bdamagesbearingsimportance: [],
            bdamagesspecialareastype: [],
            bdamagesspecialareasimportance: [],
            bdamagesfoundationsgeneraltype: [],
            bdamagesfoundationsdetailedtype: [],
            bconslos: [],
            bfailure: [],
            bsurveyfreq: [],
            bnextsurvey: [],
            bpastinterv: [],
            bintervextent: [],
            bdateinterv: [],
            bscopeinterv: [],
            bimpactinterv: [],
            blocdocinterv: [],
            bmaintissues: [],
            binvestment10years: [],
            binvestmentrequired: [],
            bomcomments: [],
            bcondition: [],
            bcriticality: [],
            blandslide: [],
            bflood: [],
            bresphazard: [],
            bsensitivity: [],
            brisk: []
        },
        geotechnicals: {
            gcode: [], // GEOTECHNICAL ASSETS        
            gyearconstruct: [],
            gtype: [],
            gposition: [],
            gmaterial: [],
            gnature: [],
            gheight: [],
            gh_h: [],
            gslope: [],
            gdistance: [],
            glength: [],
            gblocks: [],
            gshoulders: [],
            gtreatments: [],
            gtreatmentsretaining: [],
            gtreatmentsretainingtype: [],
            gtreatmentsretainingextension: [],
            gtreatmentsretainingeffectiveness: [],
            gtreatmentsretainingconservation: [],
            gtreatmentsretainingother: [],
            gtreatmentsdefence: [],
            gtreatmentsdefencetype: [],
            gtreatmentsdefenceextension: [],
            gtreatmentsdefenceeffectiveness: [],
            gtreatmentsdefenceconservation: [],
            gtreatmentsdefenceother: [],
            gtreatmentscoating: [],
            gtreatmentscoatingtype: [],
            gtreatmentscoatingextension: [],
            gtreatmentscoatingeffectiveness: [],
            gtreatmentscoatingconservation: [],
            gtreatmentscoatingother: [],
            gtreatmentsinternaldrainages: [],
            gtreatmentsinternaldrainagesextension: [],
            gtreatmentsinternaldrainageseffectiveness: [],
            gtreatmentsinternaldrainagesconservation: [],
            gcorrectmeas: [],
            gvegetation: [],
            gtypevegetation: [],
            gphoto: [],
            glastinspection: [],
            gprevcondition: [],
            gvisualcondition: [],
            gevidrecfailures: [],
            gtypefailure: [],
            gintensityfailure: [],
            gextentfailure: [],
            gconslos: [],
            gfailure: [],
            gsurveyfreq: [],
            gnextsurvey: [],
            gpastinterv: [],
            gintervextent: [],
            gdateinterv: [],
            gscopeinterv: [],
            gimpactinterv: [],
            glocdocinterv: [],
            gmaintissues: [],
            ginvestment10years: [],
            rgnvestmentrequired: [],
            gomcomments: [],
            gcondition: [],
            gcriticality: [],
            glandslide: [],
            gflood: [],
            gresphazard: [],
            gsensitivity: [],
            grisk: [],
            gcode2: [], // GEOTECHNICAL ASSETS  2      
            gyearconstruct2: [],
            gtype2: [],
            gposition2: [],
            gmaterial2: [],
            gnature2: [],
            gheight2: [],
            gh_h2: [],
            gslope2: [],
            gdistance2: [],
            glength2: [],
            gblocks2: [],
            gtreatments2: [],
            gcorrectmeas2: [],
            gvegetation2: [],
            gtypevegetation2: [],
            gphoto2: [],
            glastinspection2: [],
            gprevcondition2: [],
            gvisualcondition2: [],
            gevidrecfailures2: [],
            gtypefailure2: [],
            gextentfailure2: [],
            gconslos2: [],
            gfailure2: [],
            gsurveyfreq2: [],
            gnextsurvey2: [],
            gpastinterv2: [],
            gintervextent2: [],
            gdateinterv2: [],
            gscopeinterv2: [],
            gimpactinterv2: [],
            glocdocinterv2: [],
            gmaintissues2: [],
            ginvestment10years2: [],
            rgnvestmentrequired2: [],
            gomcomments2: [],
            gcondition2: [],
            gcriticality2: [],
            glandslide2: [],
            gflood2: [],
            gresphazard2: [],
            gsensitivity2: [],
            grisk2: []
        },
        drainage: {
            dcode: [], //Drainages
            dyearconstruc: [],
            dtype: [],
            dcapacity: [],
            drainpeak: [],
            dmaterial: [],
            dslope: [],
            dculnumelem: [],
            dsection: [],
            ddiameter: [],
            dculwidth: [],
            dlength: [],
            dprotentrance: [],
            dprotexit: [],
            dphoto: [],
            dlastinspection: [],
            dprevcondition: [],
            dvisualcondition: [],
            dcrossdamages: [],
            dlostsection: [],
            dconslos: [],
            dclearing: [],
            dfailure: [],
            dsurveyfreq: [],
            dnextsurvey: [],
            dpastinterv: [],
            dintervextent: [],
            ddateinterv: [],
            dscopeinterv: [],
            dimpactinterv: [],
            dlocdocinterv: [],
            dmaintissues: [],
            dinvestment10years: [],
            dinvestmentrequired: [],
            domcomments: [],
            dcondition: [],
            dcriticality: [],
            dlandslide: [],
            dflood: [],
            dresphazard: [],
            dsensitivity: [],
            drisk: [],
            dposition: [],
            dcode2: [], //Drainages2
            dyearconstruc2: [],
            dtype2: [],
            dcapacity2: [],
            drainpeak2: [],
            dmaterial2: [],
            dslope2: [],
            dsection2: [],
            ddiameter2: [],
            dlength2: [],
            dprotentrance2: [],
            dprotexit2: [],
            dphoto2: [],
            dlastinspection2: [],
            dprevcondition2: [],
            dvisualcondition2: [],
            dcrossdamages2: [],
            dlostsection2: [],
            dconslos2: [],
            dfailure2: [],
            dsurveyfreq2: [],
            dnextsurvey2: [],
            dpastinterv2: [],
            dintervextent2: [],
            ddateinterv2: [],
            dscopeinterv2: [],
            dimpactinterv2: [],
            dlocdocinterv2: [],
            dmaintissues2: [],
            dinvestment10years2: [],
            dinvestmentrequired2: [],
            domcomments2: [],
            dcondition2: [],
            dcriticality2: [],
            dlandslide2: [],
            dflood2: [],
            dresphazard2: [],
            dsensitivity2: [],
            drisk2: [],
            dposition2: []
        }
    };
    $(document).ready(function() {
        //console.log("ready!");
        // $('#editbutton').hide();
        // $('#versionbutton').hide();
        // $('#downloadbutton').hide();

    });

    function go_edit_road() {
        // alert($("#roads").val());
        var id = $("#infodatas").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_infodatatrack/' + dataTrack._id;
        }
    }

    function go_edit_video_road() {
        // alert($("#roads").val());
        var id = $("#infodatas").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_video_infodatatrack/' + dataTrack._id;
        }
    }
    $('#downloadbutton').click(function() {
        $("<a />", {
                "download": "data.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(dataTrack))
            }).appendTo("body")
            .click(function() {
                $(this).remove()
            })[0].click()
    });

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }
    $('#exportbutton').click(function(e) {

        var name = 'exported_track_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
        $("#dataTable").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Export data",
            filename: name //do not include extension
        });


    });


    $('#versionbutton').click(function() {
        // alert('Versionando documento');
        dataPost.properties.video_roads = dataPost._id;
        delete dataPost._id;
        delete dataPost.returnId;
        delete dataPost.created_at;
        delete dataPost.updated_at;
        ////console.log(dataPost);
        var p1 = $.ajax({
            url: '/auth/WEB/infodatatrack/save_tabular_data',
            data: JSON.stringify(dataPost),
            type: 'POST',
            contentType: 'application/json'
        }, function(data) {
            // //console.log('dataRoad ' + JSON.stringify(data));
            return (data);
        });

        Promise.all([p1]).then(function(values) {
            $('#ultimaversion').empty();
            $('#editbutton').show();
            $('#editvideobutton').show();
            $('#downloadbutton').show();
            $('#exportbutton').show();
            ////console.log(JSON.stringify(values));
            $('#ultimaversion').append('<b> Version: ' + moment(values[0].updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
            $('#ultimaversion').show();
            dataTrack = values[0];
        }).catch(function(reason) {
            //console.log(reason)
        });
    });
    $(document).on('change', "#infodatas", function() {
        var id = $("#infodatas").val();
        // alert("ACT " + id);
        $("#accordion").hide();
        $("#accordion").slideToggle('slow');
        var p2 = $.get('/auth/WEB/infodatatrack/list_infodatatrackbyid/' + id, function(data) {
            // console.log('list_infodatatrack ' + JSON.stringify(data));
            if (data) {
                data.returnId = "datatrack";
                return data;
            } else {
                return undefined;
            }

        });

        Promise.all([p2]).then(function(values) {
            var dataRoad;
            dataTrack = values[0];
            // console.log(JSON.stringify(dataTrack));
            if (dataTrack !== "undefined" && dataTrack != null) {
                $('#ultimaversion').empty();
                $('#ultimaversion').append('<b> Version: ' + moment(dataTrack.updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
                $('#ultimaversion').show();
                $('#editbutton').show();
                $('#editvideobutton').show();
                $('#downloadbutton').show();
                $('#exportbutton').show();
                $('#versionbutton').hide();

                dataRoad = dataTrack;
                //console.log('dataTrack ' + dataRoad);
                //console.log(dataRoad);
                var r = new Array(),
                    j = -1;
                r[++j] = '<thead>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function(key1, value1) {
                    r[++j] = '<th colspan="' + Object.keys(propertiesCols[key1]).length + '" scope="colgroup" class="' + key1 + '">' + key1 + '</th>';
                });
                r[++j] = '</tr>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function(key1, value1) {
                    //console.log(key1, value1);
                    $.each(value1, function(key, value) {
                        //console.log(key, value);
                        r[++j] = '<th title="' + key + '" class="' + key1 + '">' + key + '</th>';
                    });
                });
                r[++j] = '</tr></thead>';

                dataRoad.properties.coordTimes.forEach(function(drval, drindex) {
                    r[++j] = '<tr>';
                    $.each(propertiesCols, function(key1, value1) {
                        //console.log(key1, value1);

                        //console.log(key, value);
                        if (key1 === 'Trackinfo') {
                            r[++j] = '<td>';
                            r[++j] = drindex;
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.properties.inventario ? dataRoad.properties.inventario[drindex] : '--';
                            r[++j] = '</td><td>';
                            r[++j] = moment(dataRoad.properties.coordTimes[drindex]).format('DD-MM-YYYY HH:mm:ss');
                            r[++j] = '</td><td>';
                            r[++j] = '[ ' + dataRoad.geometry.coordinates[drindex] + ' ]';
                            r[++j] = '</td>';
                        } else {
                            $.each(value1, function(key, value) {
                                r[++j] = '<td>';
                                r[++j] = dataRoad.properties[key][drindex] ? dataRoad.properties[key][drindex] : '--';
                                r[++j] = '</td>';
                            });
                        }
                    });
                    r[++j] = '</tr>';
                });
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));
            }
            //else {
            //     $('#ultimaversion').empty();
            //     $('#ultimaversion').hide();
            //     $('#editbutton').hide();
            //     $('#editvideobutton').hide();
            //     $('#downloadbutton').hide();
            //     dataRoad = dataPost;
            //     //console.log('dataPost ' + dataPost);
            //     //console.log(dataPost);
            // }

        });
    });
    $(document).on('change', "#roads", function() {
        var id = $("#roads").val();
        $('#ultimaversion').empty();
        $('#ultimaversion').hide();
        $('#editbutton').hide();
        $('#editvideobutton').hide();
        $('#downloadbutton').hide();
        $('#exportbutton').hide();
        $('#dataTable').empty();
        $('#versionbutton').show();
        // alert("ACT " + id);
        if (id != 0) {
            var p1 = $.post('/auth/WEB/road/tabular_data/' + id, function(data) {
                data.returnId = "roads";
                //console.log('dataRoad ' + JSON.stringify(data));
                return (data);
            });


            Promise.all([p1]).then(function(values) {
                dataPost = values[0];
                //console.log(dataTrack);



            }).catch(function(reason) {
                //console.log(reason)
            });
        } else {
            $('#dataTable').html('');
            $("#accordion").hide();

        }
    });
</script>