<script>
    var dataPost;
    var dataTrack;

    $(document).ready(function() {
        console.log("ready!");
        // $('#editbutton').hide();
        // $('#versionbutton').hide();

    });

    function go_edit_road() {
        // alert($("#roads").val());
        var id = $("#roads").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_infodatatrack/' + dataTrack._id;
        }
    }

    $('#versionbutton').click(function() {
        // alert('Versionando documento');
        dataPost.properties.video_roads = dataPost._id;
        delete dataPost._id;
        delete dataPost.returnId;
        delete dataPost.created_at;
        delete dataPost.updated_at;
        //console.log(dataPost);
        var p1 = $.ajax({
            url: '/auth/WEB/infodatatrack/save_tabular_data',
            data: JSON.stringify(dataPost),
            type: 'POST',
            contentType: 'application/json'
        }, function(data) {
            // console.log('dataRoad ' + JSON.stringify(data));
            return (data);
        });

        Promise.all([p1]).then(function(values) {
            $('#ultimaversion').empty();
            $('#editbutton').show();
            //console.log(JSON.stringify(values));
            $('#ultimaversion').append('<b> Version: ' + moment(values[0].updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
            $('#ultimaversion').show();
            dataTrack = values[0];
        }).catch(function(reason) {
            console.log(reason)
        });
    });

    $(document).on('change', "#roads", function() {
        var id = $("#roads").val();
        $("#accordion").hide();
        $("#accordion").slideToggle('slow');
        $('#versionbutton').show();
        // alert("ACT " + id);
        if (id != 0) {
            var p1 = $.post('/auth/WEB/road/tabular_data/' + id, function(data) {
                data.returnId = "roads";
                // console.log('dataRoad ' + JSON.stringify(data));
                return (data);
            });

            var p2 = $.get('/auth/WEB/infodatatrack/list_infodatatrack/' + id, function(data) {
                if (data) {
                    data.returnId = "datatrack";
                    return data;
                } else {
                    return undefined;
                }
                // console.log('dataRoad ' + JSON.stringify(data));

            });
            Promise.all([p1, p2]).then(function(values) {
                dataPost = values[0];
                dataTrack = values[1];
                console.log(dataTrack);
                var dataRoad;
                if (dataTrack !== "undefined" && dataTrack != null) {
                    $('#ultimaversion').empty();
                    $('#ultimaversion').append('<b> Version: ' + moment(dataTrack.updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
                    $('#ultimaversion').show();
                    $('#editbutton').show();
                    dataRoad = dataTrack;

                } else {
                    // TODO: Borrar lo escrito anteriormente
                    $('#ultimaversion').empty();
                    $('#ultimaversion').hide();
                    $('#editbutton').hide();
                    dataRoad = dataPost;
                }
                var r = new Array(),
                    j = 1;
                r[0] = '<thead> <tr><th> # </th> <th> Time </th><th>INV</th> <th > Long - Lat - Cota </th><th > PK </th><th>Road Category</th><th > IRI </th>  ' +
                    '<th>Date of construction</th><th>Existence of Alternative Itinerary</th><th>Open to traffic?</th><th>Existence of Gauging Stations</th>' +
                    '<th>ADT</th><th>Traffic high peak</th>' +
                    '</tr></thead> <tbody>';

                dataRoad.properties.coordTimes.forEach(function(drval, drindex) {
                    r[++j] = '<tr><td>';
                    r[++j] = drindex;
                    r[++j] = '</td><td>';
                    r[++j] = moment(dataRoad.properties.coordTimes[drindex]).format('DD-MM-YYYY HH:mm:ss');
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.inventario ? dataRoad.properties.inventario[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = '[ ' + dataRoad.geometry.coordinates[drindex] + ' ]';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.pk[drindex];
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.road_category ? dataRoad.properties.road_category[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.Roadlab ? dataRoad.properties.Roadlab[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.date_construction ? dataRoad.properties.date_construction[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.alternative_itinerary ? dataRoad.properties.alternative_itinerary[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.open_traffic ? dataRoad.properties.open_traffic[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.existence_gauging_stations ? dataRoad.properties.existence_gauging_stations[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.adt ? dataRoad.properties.adt[drindex] : '--';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.traffic_high_peak ? dataRoad.properties.traffic_high_peak[drindex] : '--';
                    r[++j] = '</td>';
                    r[++j] = '</tr>';
                });
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));

            }).catch(function(reason) {
                console.log(reason)
            });
        } else {
            $('#dataTable').html('');
            $("#accordion").hide();

        }
    });
</script>