<script>
    var dataPost;
    $(document).ready(function() {
        console.log("ready!");
        // $('#editbutton').hide();
        // $('#versionbutton').hide();

    });

    function go_edit_road() {
        // alert($("#roads").val());
        var id = $("#roads").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/road/edit_road/' + id;
        }
    }

    $('#versionbutton').click(function() {
        // alert('Versionando documento');
        dataPost.properties.video_roads = dataPost._id;
        delete dataPost._id;
        delete dataPost.returnId;
        delete dataPost.created_at;
        delete dataPost.updated_at;
        //console.log(dataPost);
        var p1 = $.ajax({
            url: '/auth/WEB/infodatatrack/save_tabular_data',
            data: JSON.stringify(dataPost),
            type: 'POST',
            contentType: 'application/json'
        }, function(data) {
            // console.log('dataRoad ' + JSON.stringify(data));
            return (data);
        });

        Promise.all([p1]).then(function(values) {
            $('#editbutton').show();
            //console.log(JSON.stringify(values));
            $('#ultimaversion').append(' Version: ' + moment(values[0].updated_at).format('DD-MM-YYYY HH:mm:ss'));
            $('#ultimaversion').show();
        }).catch(function(reason) {
            console.log(reason)
        });
    });

    $(document).on('change', "#roads", function() {
        var id = $("#roads").val();
        $("#accordion").hide();
        $("#accordion").slideToggle('slow');
        $('#versionbutton').show();
        // alert("ACT " + id);
        if (id != 0) {
            var p1 = $.post('/auth/WEB/road/tabular_data/' + id, function(data) {
                data.returnId = "roads";
                // console.log('dataRoad ' + JSON.stringify(data));
                return (data);
            });

            var p2 = $.get('/auth/WEB/infodatatrack/list_infodatatrack/' + id, function(data) {
                if (data) {
                    data.returnId = "datatrack";
                    return data;
                } else {
                    return undefined;
                }
                // console.log('dataRoad ' + JSON.stringify(data));

            });
            Promise.all([p1, p2]).then(function(values) {
                dataPost = values[0];
                dataTrack = values[1];
                console.log(dataTrack);

                if (dataTrack !== "undefined" && dataTrack != null) {
                    $('#ultimaversion').append('<b> Version: ' + moment(dataTrack.updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
                    $('#ultimaversion').show();
                    $('#editbutton').show();

                } else {
                    $('#ultimaversion').hide();
                    $('#editbutton').hide();
                }
                var r = new Array(),
                    j = 1;
                r[0] = '<thead> <tr><th> # </th> <th> Time </th> <th > Long - Lat - Cota </th><th > PK </th><th>Road Category</th><th > IRI </th>  ' +
                    '<th>Date of construction</th><th>Existence of Alternative Itinerary</th><th>Open to traffic?</th><th>Existence of Gauging Stations</th>' +
                    '<th>ADT</th><th>Traffic high peak</th>' +
                    '</tr></thead> <tbody>';

                var dataRoad = dataPost;
                dataRoad.properties.coordTimes.forEach(function(drval, drindex) {
                    r[++j] = '<tr><td>';
                    r[++j] = drindex;
                    r[++j] = '</td><td>';
                    r[++j] = moment(dataRoad.properties.coordTimes[drindex]).format('DD-MM-YYYY HH:mm:ss');
                    r[++j] = '</td><td>';
                    r[++j] = '[ ' + dataRoad.geometry.coordinates[drindex] + ' ]';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.pk[drindex];
                    r[++j] = '</td><td>';
                    r[++j] = ' - RC - ';
                    r[++j] = '</td><td>';
                    r[++j] = dataRoad.properties.Roadlab[drindex];
                    r[++j] = '</td><td>';
                    r[++j] = 'dd/mm/yyyy';
                    r[++j] = '</td><td>';
                    r[++j] = '[Y/N/NA/Unkown/1]';
                    r[++j] = '</td><td>';
                    r[++j] = '[Y/N/NA/Unkown/1]';
                    r[++j] = '</td><td>';
                    r[++j] = '[Y/N/NA/Unkown/1]';
                    r[++j] = '</td><td>';
                    r[++j] = '--';
                    r[++j] = '</td><td>';
                    r[++j] = '--';
                    r[++j] = '</td>';
                    r[++j] = '</tr>';
                });
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));

            }).catch(function(reason) {
                console.log(reason)
            });
        } else {
            $('#dataTable').html('');
            $("#accordion").hide();

        }
    });
</script>