<script>
    var dataPost;
    var dataTrack;
    var propertiesCols = {
        Trackinfo: {
            id: [],
            inv: [],
            time: [],
            coordinates: []
        },
        road: {
            pk: [],
            surveyor: [],
            datesurvey: [],
            district: [],
            rcode: [],
            rname: [],
            rcategory: [],
            rutmlong: [],
            rutmlat: [],
            rutmelevation: [],
            rdateconstruct: [],
            rmaterial: [],
            rbasematerial: [],
            rsubbasematerial: [],
            rlaneinc: [],
            rlanedecr: [],
            rlanetotal: [],
            rwidth: [],
            rlocdoc: [],
            rvideo: [],
            ralternatitinerary: [],
            ropen: [],
            rgauging: [],
            radt: [],
            rtrafficpeak: [],
            iri: [],
            rvcondition: [],
            rconslos: [],
            rprevcondition: [],
            rlastinspection: [],
            rsurveyfreq: [],
            rnextsurvey: [],
            rfailure: [],
            rlastoverlay: [],
            rlastyearinterv: [],
            rlastyearintervextent: [],
            rlastyearintervdate: [],
            rlastyearintervscope: [],
            rlastyearintervcost: [],
            rlastyearintervimpactcond: [],
            rlocdoclastyearinterv: [],
            rcurryearinterv: [],
            rcurryearintervextent: [],
            rcurryearintervdate: [],
            rcurryearintervscope: [],
            rcurryearintervcost: [],
            rlocdoccurryearinterv: [],
            rmaintissues: [],
            rinvestment10years: [],
            rinvestmentrequired: [],
            romcomments: [],
            rinfrint: [],
            rtourism: [],
            rindustry: [],
            rindustrydist: [],
            rhealth: [],
            renvironment: [],
            rwaste: [],
            rccondition: [],
            rcriticality: [],
            rlandslide: [],
            rflood: [],
            rresphazard: [],
            rsensitivity: [],
            rrisk: []
        },
        furniture: {
            rbarriersexist: [],
            rbarrierstype: [],
            rsafetyfence: [],
            rbarrierfunct: [],
            rsignalsexist: [],
            rsignalstype: [],
            rvsignalstype: [],
            rsignalsfunct: [],
            rlightexist: [],
            rlighttype: [],
            rlightfunct: [],
            rfpastinterv: [],
            rfyearinterv: [],
            rfcomments: []
        },
        bridges: {
            bcode: [],
            bexistence: [],
            bname: [],
            byearconstruc: [],
            btype: [],
            bsurrounding: [],
            bobstaclesaved: [],
            bfloodscenario: [],
            Bloadcapacity: [],
            bmaterialdeck: [],
            bmaterialgirder: [],
            bmaterialpiers: [],
            bmaterialabutments: [],
            balignment: [],
            bspans: [],
            bnumberspans: [],
            blenght: [],
            bmaxspan: [],
            bwidth: [],
            bfreeheight: [],
            bfoundation: [],
            bpiersriver: [],
            bprotectabut: [],
            bprojectlocation: [],
            bphoto: [],
            balternative: [],
            bvisualcondition: [],
            bconslos: [],
            bprevcondition: [],
            blastinspection: [],
            bsurveyfreq: [],
            bnextsurvey: [],
            bfailure: [],
            bdamagesfoundations: [],
            bdamagesfoundationsgeneraltype: [],
            bdamagesfoundationsdetailedtype: [],
            bdamagesstructural: [],
            bdamagesvaultsarchesmechanicaldurable: [],
            BDamagesVaultArchesSeverity: [],
            BDamagesPiers: [],
            BDamagesPiersSeverity: [],
            BDamagesSpandrel: [],
            BDamagesSpandrelSeverity: [],
            BDamagesAbutments: [],
            BDamagesAbutmentsSeverity: [],
            BDamagesSidewalls: [],
            BDamagessidewallsSeverity: [],
            BDamagesSlab: [],
            BDamagesslabSeverity: [],
            BDamagesBeams: [],
            BDamagesBeamsSeverity: [],
            BDamagesBearings: [],
            BDamagesBearingsSeverity: [],
            BDamagesSpecialareas: [],
            BDamagesSpecialareasSeverity: [],
            bdamagesnonstructural: [],
            BLastYearInterv: [],
            BLastYearIntervExtent: [],
            BLastYearIntervDate: [],
            BLastYearIntervScope: [],
            BLastYearIntervCost: [],
            BLastYearIntervImpactCond: [],
            BLocDocLastYearInterv: [],
            BCurrYearInterv: [],
            BCurrYearIntervExtent: [],
            BCurrYearIntervDate: [],
            BCurrYearIntervScope: [],
            BCurrYearIntervCost: [],
            BLocDocCurrYearInterv: [],
            BMaintIssues: [],
            Binvestment10years: [],
            binvestmentrequired: [],
            bomcomments: [],
            bcondition: [],
            bcriticality: [],
            blandslide: [],
            bflood: [],
            bresphazard: [],
            bsensitivity: [],
            brisk: []
        },
        geotechnicals: {
            gcode: [],
            gyearconstruct: [],
            gtype: [],
            gposition: [],
            gmaterial: [],
            gnature: [],
            gheight: [],
            gh_h: [],
            gslope: [],
            gdistance: [],
            gshoulders: [],
            glength: [],
            gblocks: [],
            gtreatments: [],
            gtreatmentsretaining: [],
            gtreatmentsretainingtype: [],
            gtreatmentsretainingextension: [],
            gtreatmentsretainingeffectiveness: [],
            gtreatmentsretainingconservation: [],
            gtreatmentsretainingother: [],
            gtreatmentsdefence: [],
            gtreatmentsdefencetype: [],
            gtreatmentsdefenceextension: [],
            gtreatmentsdefenceeffectiveness: [],
            gtreatmentsdefenceconservation: [],
            gtreatmentsdefenceother: [],
            gtreatmentscoating: [],
            gtreatmentscoatingtype: [],
            gtreatmentscoatingextension: [],
            gtreatmentscoatingeffectiveness: [],
            gtreatmentscoatingconservation: [],
            gtreatmentscoatingother: [],
            gtreatmentsinternaldrainages: [],
            gtreatmentsinternaldrainagesextension: [],
            gtreatmentsinternaldrainageseffectiveness: [],
            gtreatmentsinternaldrainagesconservation: [],
            gvegetation: [],
            gtypevegetation: [],
            gphoto: [],
            gvisualcondition: [],
            gconslos: [],
            gprevcondition: [],
            glastinspection: [],
            gsurveyfreq: [],
            gnextsurvey: [],
            gfailure: [],
            gevidrecfailures: [],
            gtypefailure: [],
            gintensityfailure: [],
            gextentfailure: [],
            gpastinterv: [],
            gintervextent: [],
            gdateinterv: [],
            gscopeinterv: [],
            qintervcost: [],
            gimpactinterv: [],
            glocdocinterv: [],
            gcurryearinterv: [],
            gcurryearintervextent: [],
            gcurryearintervdate: [],
            gcurryearintervscope: [],
            gcurryearintervcost: [],
            glocdoccurryearinterv: [],
            gmaintissues: [],
            ginvestment10years: [],
            rgnvestmentrequired: [],
            gomcomments: [],
            gcondition: [],
            gcriticality: [],
            glandslide: [],
            gflood: [],
            gresphazard: [],
            gsensitivity: [],
            grisk: [],
            gcode2: [],
            gyearconstruct2: [],
            gtype2: [],
            gposition2: [],
            gmaterial2: [],
            gnature2: [],
            gheight2: [],
            gh_h2: [],
            gslope2: [],
            gdistance2: [],
            gshoulders2: [],
            glength2: [],
            gblocks2: [],
            gtreatments2: [],
            gtreatmentsretaining2: [],
            gtreatmentsretainingtype2: [],
            gtreatmentsretainingextension2: [],
            gtreatmentsretainingeffectiveness2: [],
            gtreatmentsretainingconservation2: [],
            gtreatmentsretainingother2: [],
            gtreatmentsdefence2: [],
            gtreatmentsdefencetype2: [],
            gtreatmentsdefenceextension2: [],
            gtreatmentsdefenceeffectiveness2: [],
            gtreatmentsdefenceconservation2: [],
            gtreatmentsdefenceother2: [],
            gtreatmentscoating2: [],
            gtreatmentscoatingtype2: [],
            gtreatmentscoatingextension2: [],
            gtreatmentscoatingeffectiveness2: [],
            gtreatmentscoatingconservation2: [],
            gtreatmentscoatingother2: [],
            gtreatmentsinternaldrainages2: [],
            gtreatmentsinternaldrainagesextension2: [],
            gtreatmentsinternaldrainageseffectiveness2: [],
            gtreatmentsinternaldrainagesconservation2: [],
            gvegetation2: [],
            gtypevegetation2: [],
            gphoto2: [],
            gvisualcondition2: [],
            gconslos2: [],
            gprevcondition2: [],
            glastinspection2: [],
            gsurveyfreq2: [],
            gnextsurvey2: [],
            gfailure2: [],
            gevidrecfailures2: [],
            gtypefailure2: [],
            gintensityfailure2: [],
            gextentfailure2: [],
            gpastinterv2: [],
            gintervextent2: [],
            gdateinterv2: [],
            gscopeinterv2: [],
            qintervcost2: [],
            gimpactinterv2: [],
            glocdocinterv2: [],
            gcurryearinterv2: [],
            gcurryearintervextent2: [],
            gcurryearintervdate2: [],
            gcurryearintervscope2: [],
            gcurryearintervcost2: [],
            glocdoccurryearinterv2: [],
            gmaintissues2: [],
            ginvestment10years2: [],
            rgnvestmentrequired2: [],
            gomcomments2: [],
            gcondition2: [],
            gcriticality2: [],
            glandslide2: [],
            gflood2: [],
            gresphazard2: [],
            gsensitivity2: [],
            grisk2: []
        },
        culvert: {
            Ccode: [],
            Cyearconstruc: [],
            Ctype: [],
            Csection: [],
            Ccapacity: [],
            Crainpeak: [],
            Cmaterial: [],
            Cnumelem: [],
            Cdiameter: [],
            Cwidth: [],
            Clength: [],
            Cprotentrance: [],
            Cprotexit: [],
            Cphoto: [],
            CVisualCondition: [],
            CConsLOS: [],
            CPrevCondition: [],
            CLastInspection: [],
            CSurveyFreq: [],
            CNextSurvey: [],
            Cfailure: [],
            CDamages: [],
            Cclearing: [],
            CLostSection: [],
            CLastYearInterv: [],
            CLastYearIntervExtent: [],
            CLastYearIntervDate: [],
            CLastYearIntervScope: [],
            CLastYearIntervCost: [],
            CLastYearIntervImpactCond: [],
            CLocDocLastYearInterv: [],
            CCurrYearInterv: [],
            CCurrYearIntervExtent: [],
            CCurrYearIntervDate: [],
            CCurrYearIntervScope: [],
            CCurrYearIntervCost: [],
            CLocDocCurrYearInterv: [],
            CMaintIssues: [],
            Cinvestment10years: [],
            Cinvestmentrequired: [],
            COMComments: [],
            Ccondition: [],
            Ccriticality: [],
            CLandslide: [],
            CFlood: [],
            CRespHazard: [],
            Csensitivity: [],
            CRISK: []
        },
        drainage: {
            dcode: [],
            dyearconstruc: [],
            dtype: [],
            dsection: [],
            dposition: [],
            dslope: [],
            dphoto: [],
            dconslos: [],
            dfailure: [],
            dlastinspection: [],
            dintervextent: [],
            ddateinterv: [],
            dscopeinterv: [],
            dlastyearintervcost: [],
            dlocdocinterv: [],
            dcurryearinterv: [],
            dcurryearintervextent: [],
            dcurryearintervdate: [],
            dcurryearintervscope: [],
            dcurryearintervcost: [],
            dlocdoccurryearinterv: [],
            dmaintissues: [],
            dinvestment10years: [],
            dinvestmentrequired: [],
            domcomments: [],
            dcode: [],
            dyearconstruc2: [],
            dtype2: [],
            dsection2: [],
            dposition2: [],
            dslope2: [],
            dphoto2: [],
            dconslos2: [],
            dfailure2: [],
            dlastinspection2: [],
            dintervextent2: [],
            ddateinterv2: [],
            dscopeinterv2: [],
            dlastyearintervcost2: [],
            dlocdocinterv2: [],
            dcurryearinterv2: [],
            dcurryearintervextent2: [],
            dcurryearintervdate2: [],
            dcurryearintervscope2: [],
            dcurryearintervcost2: [],
            dlocdoccurryearinterv2: [],
            dmaintissues2: [],
            dinvestment10years2: [],
            dinvestmentrequired2: [],
            domcomments2: []
        }
    };
    $(document).ready(function() {
        //console.log("ready!");
        // $('#editbutton').hide();
        // $('#versionbutton').hide();
        // $('#downloadbutton').hide();

    });

    function go_edit_road() {
        // alert($("#roads").val());
        var id = $("#infodatas").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_infodatatrack/' + dataTrack._id;
        }
    }

    function go_edit_video_road() {
        // alert($("#roads").val());
        var id = $("#infodatas").val();
        if (id == 0) {
            window.location = '#';
        } else {
            window.location = '/auth/WEB/infodatatrack/edit_video_infodatatrack/' + dataTrack._id;
        }
    }
    $('#downloadbutton').click(function() {
        $("<a />", {
                "download": "data.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(dataTrack))
            }).appendTo("body")
            .click(function() {
                $(this).remove()
            })[0].click()
    });

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }
    $('#exportbutton').click(function(e) {

        var name = 'exported_track_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
        $("#dataTable").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Export data",
            filename: name //do not include extension
        });


    });


    $('#versionbutton').click(function() {
        // alert('Versionando documento');
        dataPost.properties.video_roads = dataPost._id;
        delete dataPost._id;
        delete dataPost.returnId;
        delete dataPost.created_at;
        delete dataPost.updated_at;
        ////console.log(dataPost);
        var p1 = $.ajax({
            url: '/auth/WEB/infodatatrack/save_tabular_data',
            data: JSON.stringify(dataPost),
            type: 'POST',
            contentType: 'application/json'
        }, function(data) {
            // //console.log('dataRoad ' + JSON.stringify(data));
            return (data);
        });

        Promise.all([p1]).then(function(values) {
            $('#ultimaversion').empty();
            $('#editbutton').show();
            $('#editvideobutton').show();
            $('#downloadbutton').show();
            $('#exportbutton').show();
            ////console.log(JSON.stringify(values));
            $('#ultimaversion').append('<b> Version: ' + moment(values[0].updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
            $('#ultimaversion').show();
            dataTrack = values[0];
        }).catch(function(reason) {
            //console.log(reason)
        });
    });
    $(document).on('change', "#infodatas", function() {
        var id = $("#infodatas").val();
        // alert("ACT " + id);
        $("#accordion").hide();
        $("#accordion").slideToggle('slow');
        var p2 = $.get('/auth/WEB/infodatatrack/list_infodatatrackbyid/' + id, function(data) {
            // console.log('list_infodatatrack ' + JSON.stringify(data));
            if (data) {
                data.returnId = "datatrack";
                return data;
            } else {
                return undefined;
            }

        });

        Promise.all([p2]).then(function(values) {
            var dataRoad;
            dataTrack = values[0];
            // console.log(JSON.stringify(dataTrack));
            if (dataTrack !== "undefined" && dataTrack != null) {
                $('#ultimaversion').empty();
                $('#ultimaversion').append('<b> Version: ' + moment(dataTrack.updated_at).format('DD-MM-YYYY HH:mm:ss') + '</b>');
                $('#ultimaversion').show();
                $('#editbutton').show();
                $('#editvideobutton').show();
                $('#downloadbutton').show();
                $('#exportbutton').show();
                $('#versionbutton').hide();

                dataRoad = dataTrack;
                //console.log('dataTrack ' + dataRoad);
                //console.log(dataRoad);
                var r = new Array(),
                    j = -1;
                r[++j] = '<thead>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function(key1, value1) {
                    r[++j] = '<th colspan="' + Object.keys(propertiesCols[key1]).length + '" scope="colgroup" class="' + key1 + '">' + key1 + '</th>';
                });
                r[++j] = '</tr>';
                r[++j] = '<tr>';
                $.each(propertiesCols, function(key1, value1) {
                    //console.log(key1, value1);
                    $.each(value1, function(key, value) {
                        //console.log(key, value);
                        r[++j] = '<th title="' + key + '" class="' + key1 + '">' + key + '</th>';
                    });
                });
                r[++j] = '</tr></thead>';

                dataRoad.properties.coordTimes.forEach(function(drval, drindex) {
                    r[++j] = '<tr>';
                    $.each(propertiesCols, function(key1, value1) {
                        //console.log(key1, value1);

                        //console.log(key, value);
                        if (key1 === 'Trackinfo') {
                            r[++j] = '<td>';
                            r[++j] = drindex;
                            r[++j] = '</td><td>';
                            r[++j] = dataRoad.properties.inventario ? dataRoad.properties.inventario[drindex] : '--';
                            r[++j] = '</td><td>';
                            r[++j] = moment(dataRoad.properties.coordTimes[drindex]).format('DD-MM-YYYY HH:mm:ss');
                            r[++j] = '</td><td>';
                            r[++j] = '[ ' + dataRoad.geometry.coordinates[drindex] + ' ]';
                            r[++j] = '</td>';
                        } else {
                            $.each(value1, function(key, value) {
                                r[++j] = '<td>';
                                r[++j] = (dataRoad.properties[key] != undefined && dataRoad.properties[key][drindex] != undefined) ? dataRoad.properties[key][drindex] : '--';
                                r[++j] = '</td>';
                            });
                        }
                    });
                    r[++j] = '</tr>';
                });
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));
            }
            //else {
            //     $('#ultimaversion').empty();
            //     $('#ultimaversion').hide();
            //     $('#editbutton').hide();
            //     $('#editvideobutton').hide();
            //     $('#downloadbutton').hide();
            //     dataRoad = dataPost;
            //     //console.log('dataPost ' + dataPost);
            //     //console.log(dataPost);
            // }

        });
    });
    $(document).on('change', "#roads", function() {
        var id = $("#roads").val();
        $('#ultimaversion').empty();
        $('#ultimaversion').hide();
        $('#editbutton').hide();
        $('#editvideobutton').hide();
        $('#downloadbutton').hide();
        $('#exportbutton').hide();
        $('#dataTable').empty();
        $('#versionbutton').show();
        // alert("ACT " + id);
        if (id != 0) {
            var p1 = $.post('/auth/WEB/road/tabular_data/' + id, function(data) {
                data.returnId = "roads";
                //console.log('dataRoad ' + JSON.stringify(data));
                return (data);
            });


            Promise.all([p1]).then(function(values) {
                dataPost = values[0];
                //console.log(dataTrack);



            }).catch(function(reason) {
                //console.log(reason)
            });
        } else {
            $('#dataTable').html('');
            $("#accordion").hide();

        }
    });
</script>