<script>
    $(document).ready(function() {

        var dataSchedule = <%- JSON.stringify(schedules) %>;

        function formatDate(date) {
            var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }

        function editEvent(event) {
            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-name"]').val(event ? event.name : '');
            $('#event-modal input[name="event-type"]').val(event ? event.type : '');
            $('#event-modal input[name="event-start-date"]').datepicker('update', event ? event.startDate : '');
            $('#event-modal input[name="event-end-date"]').datepicker('update', event ? event.endDate : '');
            $('#event-modal').modal();
        }

        function deleteEvent(event) {
            var dataSource = $('#calendar').data('calendar').getDataSource();

            for (var i in dataSource) {
                if (dataSource[i].id == event.id) {
                    dataSource.splice(i, 1);
                    break;
                }
            }

            $('#calendar').data('calendar').setDataSource(dataSource);
        }

        function saveEvent() {
            var event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: $('#event-modal input[name="event-name"]').val(),
                type: $('#event-modal input[name="event-type"]').val(),
                startDate: $('#event-modal input[name="event-start-date"]').datepicker('getDate'),
                endDate: $('#event-modal input[name="event-end-date"]').datepicker('getDate')
            }

            var dataSource = $('#calendar').data('calendar').getDataSource();

            if (event.id) {
                for (var i in dataSource) {
                    if (dataSource[i].id == event.id) {
                        dataSource[i].name = event.name;
                        dataSource[i].type = event.type;
                        dataSource[i].startDate = event.startDate;
                        dataSource[i].endDate = event.endDate;
                    }
                }
            } else {
                var newId = 0;
                for (var i in dataSource) {
                    if (dataSource[i].id > newId) {
                        newId = dataSource[i].id;
                    }
                }

                newId++;
                event.id = newId;

                dataSource.push(event);
            }

            $('#calendar').data('calendar').setDataSource(dataSource);
            $('#event-modal').modal('hide');

            //TODO: AJAX Call to update DB


        }

        var currentYear = new Date().getFullYear();
        var dataSource = [];
        var i = 0;
        for (var s of dataSchedule) {
            var val = {
                id: i,
                name: s.properties.code,
                type: s.type,
                startDate: new Date(moment(s.startDate).format('YYYY'), moment(s.startDate).format('MM') - 1, moment(s.startDate).format('DD')),
                endDate: new Date(moment(s.endDate).format('YYYY'), moment(s.endDate).format('MM') - 1, moment(s.endDate).format('DD')),
                color: s.config.color

            }

            dataSource.push(val);

            i++;
        }
        // page is now ready, initialize the calendar...

        $('#calendar').calendar({
            enableContextMenu: true,
            enableRangeSelection: true,
            contextMenuItems: [{
                text: 'Update',
                click: editEvent
            }, {
                text: 'Delete',
                click: deleteEvent
            }],
            selectRange: function(e) {
                editEvent({
                    startDate: e.startDate,
                    endDate: e.endDate
                });
            },
            mouseOnDay: function(e) {
                if (e.events.length > 0) {
                    var content = '';
                    for (var i in e.events) {
                        console.log(e.events[i].startDate);
                        content += '<div class="event-tooltip-content">' +
                            '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>' +
                            '<div class="event-type">' + e.events[i].type + '</div>' +
                            '<div class="event-start-date">' + formatDate(e.events[i].startDate) + ' - ' + formatDate(e.events[i].endDate) + '</div>' +
                            '</div>';
                        formatDate
                    }

                    $(e.element).popover({
                        trigger: 'manual',
                        container: 'body',
                        html: true,
                        content: content
                    });

                    $(e.element).popover('show');
                }
            },
            mouseOutDay: function(e) {
                if (e.events.length > 0) {
                    $(e.element).popover('hide');
                }
            },
            dayContextMenu: function(e) {
                $(e.element).popover('hide');
            },
            dataSource: dataSource
        });

        $('#save-event').click(function() {
            saveEvent();
        });
    });
</script>