<section id="main-content">
    <section class="wrapper">
        <h3 class="alert alert-danger"><i class="fa fa-angle-right"></i> Error</h3>
        <div class="alert alert-danger"><b>ALTO!</b> No tienes permisos para acceder a esta seccion</div>
    </section>
</section>