<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Google Maps</h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-2">
                        <div class="form-panel">
                            <h5 class="mb"><i class="fa fa-angle-right"></i> Capas GPS</h5>
                            <select multiple id="layergps" class="form-control" size="<% if(files.length < 6) { %>5<%} else{%>10<%}%>">
                                <% files.forEach(function(item){ %>
                                    <option value="<%= item.filename %>"><%= item.originalname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10" style="height:80vh;">
                        <div id="map"></div>
                        <script>
                            // This example uses the Google Maps JavaScript API's Data layer
                            // to create a rectangular polygon with 2 holes in it.

                            function initMap(file, zoom) {
                                var optionsMap = {
                                    center: {
                                        lat: 15.41,
                                        lng: -61.32
                                    },
                                };

                                var map = new google.maps.Map(document.getElementById('map'), optionsMap);
                                var vfile = file || [];
                                if (zoom)
                                    map.setZoom(zoom);
                                else
                                    map.setZoom(12);

                                vfile.forEach(function(item) {
                                    map.data.loadGeoJson('/uploads/' + item);

                                });
                            };
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap">
                        </script>
                        <!-- <iframe allowfullscreen width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJFVoV8vrSFIwRPP06BQmRs0k&key=<%= api_key %>&maptype=satellite" allowfullscreen> -->
                        <!-- </iframe> -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>

    <!--script for this page-->

    <script>
        //custom select box


        $(document).on('change', "#layergps", function() {
            initMap($("#layergps").val(), 0);

        });

        // TODO: Cambiar la lectura de DIR local por la BD o API REST
        // var res = '{"id" :"' + $(this).data('data') + '"}'
        //var res = JSON.stringify($(this).data('params'));
        $(document).ready(function() {
            // $.ajax({
            //     //This will retrieve the contents of the folder if the folder is configured as 'browsable'
            //     url: /uploads/,
            //     success: function(data) {
            //         //List all .png file names in the page
            //         $(data).find("td > a").each(function() {
            //             fileNames.push($(this).attr("href"));
            //             //var filename = $(this).attr("href").replace(window.location.host, "").replace("http://", "");
            //             //$("body").append("<img src='" + dir + filename + "'>");
            //             // $('#layergps').append($('<option>', {
            //                 //     value: filename,
            //                 //     text: filename
            //                 // }));
            // console.log(fileNames);
            //             });
            //         }
            //     });


        });
    </script>

</body>

</html>