<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Database</h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-12" style="height:80vh;">
                        <div class="content-panel">
                            <div class="form-panel">
                                <h4><i class="fa fa-angle-right">Filtros</i></h4>
                                <hr>
                                <select id="roads" class="form-control" style="width:auto;">
                                    <option>- Select a road -</option>
                                    <% roadsvals.forEach(function(val){ %>
                                        <option value="<%- val._id %>"><%= val.properties.name %></option>
                                        
                                        <% }); %>
                                        
                                </select>

                                <div id="accordion" style="display:none;">
                                    <table id="dataTable" class="table">

                                        <tr>

                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- form panel-->
                        </div>
                        <!--/content-panel -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

    <!--script for this page-->

    <script>
        //custom select box
        $(document).on('change', "#roads", function() {
            // alert($("#roads").val());
            var id = $("#roads").val();
            $("#accordion").hide();
            $("#accordion").slideToggle('slow');

            // alert("ACT " + id);
            $.post('/auth/WEB/road/list_roads/' + id, function(data) {
                console.log(data);
                var r = new Array(),
                    j = 1;
                r[0] = '<thead> <tr><th> # </th> <th> Time </th> <th > GPS </th> </tr> </thead> <tbody>';
                for (var key = 0, size = data.properties.coordTimes.length; key < size; key++) {
                    r[++j] = '<tr><td>';
                    r[++j] = key;
                    r[++j] = '</td><td>';
                    r[++j] = moment(data.properties.coordTimes[key]).format('DD-MM-YYYY HH:mm:ss');
                    r[++j] = '</td><td>';
                    r[++j] = '[ ' + data.geometry.coordinates[key] + ' ]';
                    r[++j] = '</td></tr>';
                    // <td>';
                    // r[++j] = '</td><td>';
                    // r[++j] = data[key][2];
                    // r[++j] = '</td></tr>';
                }
                r[++j] = '</tbody>';
                $('#dataTable').html(r.join(''));
                // $("#button_" + id).load(location.href + " #button_" + id); // Add space between URL and selector.

            });

        });
    </script>

</body>

</html>