<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> Lista de usuarios</h3>
                <div class="row mt" style="height:80vh;">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <table class="table table-striped table-advance table-hover">
                                <button type="button" class="btn btn-round btn-success" data-toggle="modal" data-target="#newUser"><i class="fa fa-user-plus"></i> Usuario</button>
                                <hr>
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-address-card-o"></i> Nombre</th>
                                        <th><i class="fa fa-users"></i> ROL</th>
                                        <th><i class="fa fa-user-circle"></i> Login</th>
                                        <th><i class="fa fa-power-off"></i> Estado</th>
                                        <th><i class=" fa fa-edit"></i> Acciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < users.length; i++) {%>
                                        <tr>
                                            <td>
                                                <%= users[i].nombre %>
                                                    <%= users[i].apellido1 %>
                                                        <%= users[i].apellido2 %>
                                            </td>
                                            <td>
                                                <% if(users[i].admin){ %>
                                                    <span class="fa fa-star text-danger"></span>
                                                    <% } else { %>
                                                        <span class="fa fa-user-o text-primary"></span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <%= users[i].login %>
                                            </td>
                                            <td>
                                                <% if(users[i].activo){ %>
                                                    <span class="label label-success label-mini">Activado</span>
                                                    <% } else { %>
                                                        <span class="label label-danger label-mini">Desactivado</span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                            </td>
                                        </tr>
                                        <% } %>

                                            <!--

                                    <tr>
                                        <td><a href="basic_table.html#">Company Ltd</a></td>
                                        <td class="hidden-phone">Lorem Ipsum dolor</td>
                                        <td>12000.00$ </td>
                                        <td><span class="label label-info label-mini">Due</span></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="basic_table.html#">
                                          Dashgum co
                                      </a>
                                        </td>
                                        <td class="hidden-phone">Lorem Ipsum dolor</td>
                                        <td>17900.00$ </td>
                                        <td><span class="label label-warning label-mini">Due</span></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="basic_table.html#">
                                          Another Co
                                      </a>
                                        </td>
                                        <td class="hidden-phone">Lorem Ipsum dolor</td>
                                        <td>14400.00$ </td>
                                        <td><span class="label label-success label-mini">Paid</span></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="basic_table.html#">
                                          Dashgum ext
                                      </a>
                                        </td>
                                        <td class="hidden-phone">Lorem Ipsum dolor</td>
                                        <td>22000.50$ </td>
                                        <td><span class="label label-success label-mini">Paid</span></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="basic_table.html#">Total Ltd</a></td>
                                        <td class="hidden-phone">Lorem Ipsum dolor</td>
                                        <td>12120.00$ </td>
                                        <td><span class="label label-warning label-mini">Due</span></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                        <!-- /content-panel -->
                    </div>
                    <!-- /col-md-12 -->
                </div>
                <!-- /row -->

            </section>
        </section>
        <!-- /MAIN CONTENT -->
        <!-- MODAL SECTION -->
        <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- Modal -->
        <% include ./partials/modal_user %>
            <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            <!-- /MODAL SECTION -->

            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <% include partials/footer %>

            </footer>
            <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <% include partials/footer_scripts %>

        <!--script for this page-->

        <script>
            //custom select box

            $(function() {
                $('select.styled').customSelect();
            });
        </script>

</body>

</html>