<!-- Modal -->
<div class="modal fade" id="modalKobo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar Kobo</h4>
            </div>
            <div class="modal-body">
                <div id="photo" class="col-sm-12">

                </div>
                <form id="formkoboform" class="form-horizontal style-form" method="post" action="/auth/WEB/koboinfo/save_kobo_info">
                    <div id="formkobo" class="form-group">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Modificar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>