<!-- Modal -->
<div class="modal fade" id="modalKobo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar Kobo</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal style-form" method="post" action="/auth/WEB/users/update_user2">
                    <input name="user[_id]" required type="hidden" class="form-control">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input name="user[nombre]" required type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Apellido1</label>
                        <div class="col-sm-10">
                            <input name="user[apellido1]" required type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Apellido2</label>
                        <div class="col-sm-10">
                            <input name="user[apellido2]" required type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Login</label>
                        <div class="col-sm-10">
                            <input name="user[login]" required type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input name="user[password]" required type="password" class="form-control">
                        </div>
                    </div>
                    <!-- <div class="checkbox">
                            <label>
                                <input name="user[admin]"  type="checkbox" value> Administrador
                                </label>
                        </div> -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Modificar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>