th.road {
    background-color: #e2e2e2;
}

th.furniture {
    background-color: #e0a8ff;
}

th.bridges {
    background-color: #f9cad8;
}

th.geotechnicals {
    background-color: #bfffc5;
}

th.culvert {
    background-color: #a17cff;
}

th.drainage {
    background-color: #ccd9f9;
}