<div id="graphContent" class="col-md-12" style="display: none">
    <div class="form-panel">
        <h3> Graphics</h3>

        <div class="row mt">
            <div class="col-md-12"></div>
            <div class="col-md-6" id="graphIzda">
                <canvas id="myChart" width="400" height="400"></canvas>

            </div>
            <div class="col-md-6" id="grapDcha"></div>
        </div>


    </div>
</div>