<div id="graphContent" class="col-md-12" style="display: none">
    <div class="form-panel">
        <h3> Graphics</h3>

        <div class="row mt">
            <div class="col-md-12">
                <div class="form-panel">
                    <select class="form-control" id="selectGraph">
                    </select>
                </div>

            </div>
            <div class="col-md-6" id="graphIzda">
            </div>
            <div class="col-md-6" id="graphDcha">
            </div>
        </div>


    </div>
</div>