<div id="menu_global" style="display: none">
    <div class="row mt">
        <!-- Risk Criteria -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Risk Criteria
            </h5>
            <label for="PhysicalDeterioration">
                <input type="radio" name="riskoptionsRadios" id="PhysicalDeterioration" value="PhysicalDeterioration"> Physical Deterioration
            </label>
            <br>
            <label for="NaturalHazards">
                <input type="radio" name="riskoptionsRadios" id="NaturalHazards" value="NaturalHazards"> Natural Hazards
            </label>

        </div>
    </div>
    <hr>

    <div class="row mt">
        <!-- Acceptable Level of Risk -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Acceptable Level of Risk
            </h5>
            <div class="col-md-8">
                <label for="levelRisk">level [A-E]
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" id="levelRisk" class="form-control round-form">
            </div>



        </div>
    </div>

</div>