<div id="menu_global" style="display: none">
    <div class="row mt">
        <!-- Risk Criteria -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Risk Criteria
            </h5>
            <label for="PhysicalDeterioration">
                <input type="radio" name="riskoptionsRadios" id="PhysicalDeterioration" value="PhysicalDeterioration"> Physical Deterioration
            </label>
            <br>
            <label for="NaturalHazards">
                <input type="radio" name="riskoptionsRadios" id="NaturalHazards" value="NaturalHazards"> Natural Hazards
            </label>


        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Graph -->
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="graphButton" disabled>
                <i class="fas fa-chart-pie"></i> Graphics</button>
        </div>
        <!-- excel -->
        <div class="col-md-6">
            <button type="button" class="btn btn-success" id="exportExcelGlobal" disabled>
                Excel</button>
        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Acceptable Level of Risk -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Acceptable Level of Risk
            </h5>
            <div class="col-md-8">
                <label for="levelRisk">level:
                </label>
            </div>
            <div class="col-md-4">
                <select id="levelRisk" class="form-control round-form">
                    <option value="1" style="background:rgb(0, 88, 0)">1</option>
                    <option value="2" style="background:rgb(0, 255, 0)">2</option>
                    <option value="3" style="background:rgb(238, 255, 0)">3</option>
                    <option value="4" style="background:rgb(255, 115, 0)">4</option>
                    <option value="5" style="background:rgb(255, 0, 0)">5</option>
                </select>
            </div>



        </div>
    </div>

</div>