<div id="menu_annual" style="display: none">
    <div class="row mt">
        <!-- Maintenance activities -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Maintenance activities
            </h5>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Routine">Routine (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Routine" class="form-control round-form">
            </div>

            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Periodic">Periodic (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Periodic" class="form-control round-form">
            </div>

            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Emergency">Emergency (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Emergency" class="form-control round-form">
            </div>

        </div>
    </div>
    <hr>

    <div class="row mt">
        <!-- Routine Maintenance Activities -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Routine Maintenance Activities
            </h5>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Brushcutting">Brush cutting (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Brushcutting" class="form-control round-form">
            </div>

            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Drainclearing">Drain clearing (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Drainclearing" class="form-control round-form">
            </div>

            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Patching">Patching (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Patching" class="form-control round-form">
            </div>
            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="RoadSafetyImprovement">Road Safety Improvement (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="RoadSafetyImprovement" class="form-control round-form">
            </div>

        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Periodic Maintenance Activities -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Periodic Maintenance Activities
            </h5>

            <!-- <div class="col-md-8">
                <div class="checkbox">
                    <label for="DesignProjects">Design Projects (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="DesignProjects" class="form-control round-form">
            </div>

            <br> -->
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="WorkInterventions">Interventions (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="WorkInterventions" class="form-control round-form">
            </div>
            <br>
            <div class="col-md-8">
                <div class="checkbox">
                    <label for="Inspections">Inspections (%)
                    </label>
                </div>
            </div>
            <div class="col-md-4">

                <input type="number" placeholder="0" min="0" max="100" id="Inspections" class="form-control round-form">
            </div>

        </div>
    </div>

    <div class="row mt" id="riskCriteria" style="display: none;">
        <hr>
        <!-- Risk Criteria -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Risk Criteria
            </h5>
            <div class="checkbox">
                <label for="PhysicalDeterioration">
                    <input type="radio" name="optionRisk" id="PhysicalDeterioration" value="PhysicalDeterioration" disabled> Physical Deterioration
                </label>
                <br>
                <label for="NaturalHazards">
                    <input type="radio" name="optionRisk" id="NaturalHazards" value="NaturalHazards" disabled> Natural Hazards
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Acceptable Level of Risk -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Acceptable Level of Risk
            </h5>
            <div class="row mt">
                <div class="col-md-12">
                    <input type="text" id="AcceptableLevelofRisk" class="form-control round-form">
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Investment Period -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Investment Period
            </h5>
            <div class="checkbox">
                <label for="1year">
                    <input type="checkbox" id="1year" value="1year"> 1 year
                </label>
                <br>
                <label for="5years">
                    <input type="checkbox" id="5years" value="5years"> 5 years
                </label>
                <br>
                <label for="10years">
                    <input type="checkbox" id="10years" value="10years"> 10 years
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt">
        <!-- Investment Strategies -->
        <div class="col-md-12">
            <h5 class="mb">
                <i class="fa fa-angle-right"></i> Investment Strategies
            </h5>
            <div class="checkbox">
                <label for="Distancesinergies">
                    <input type="checkbox" id="Distancesinergies" value="Distancesinergies"> Distance sinergies
                </label>
                <br>
                <label for="Assetsshare">
                    <input type="checkbox" id="Assetsshare" value="Assetsshare"> Assets share
                </label>
                <br>
                <label for="Corridorpriorization">
                    <input type="checkbox" id="Corridorpriorization" value="Corridorpriorization"> Corridor priorization
                </label>
            </div>
        </div>
    </div>
</div>