<script>
    var ifdtobject;
    var nchar = 0;
    var resized = false;
    var formulasDB = <%- JSON.stringify(formula) %>;
    var objectConstructor = {}.constructor;

    console.log(formulasDB);

    $(document).ready(function() {

        $.each(formulasDB, function(index, form) {
            console.log(form.properties.HTML);
            $('#' + form.properties.HTML.id).on('click', function(event) {
                $this = $(this);
                //alert('AssetCriticality');
                $('#formulaName').empty();
                $('#formulaName').append(form.properties.HTML.text);
                // console.log(form.properties.HTML.id);
                switch ($this[0].id) {
                    case "AssetCriticality":
                        $('#formulaSpec').empty();
                        var html = [];
                        var h = -1;

                        $.each(form.formulaSpec, function(i, fspec) {
                            // $('#selectFormula').empty();
                            $('#selectFormula').append('<div class="radio-inline"><label class="radio-inline">' +
                                '<input type="radio" name="optionsRadios" id="option' + fspec.name + '" value="' + fspec.name + '" >' + fspec.name +
                                '</label></div>');
                            html[++h] = '<div id="formulaTable' + fspec.name + '" style="display:none;"><table class="table table-bordered table-striped table-condensed" >';
                            html[++h] = '<tbody id="formulaTableBody">';
                            $.each(fspec, function(key, data) {
                                console.log(key);
                                console.log(data);
                                if (data.constructor === objectConstructor) {
                                    html[++h] = '<tr>';
                                    html[++h] = '<td  class="col-sm-3" rowspan="' + (Object.keys(data).length - 1) + '"><label class="col-sm-8 col-sm-8 control-label">' + key + '</label>';
                                    html[++h] = '<div class="col-sm-4">';
                                    html[++h] = '<input class="form-control" name="AssetCriticality__' + fspec.name + '__' + key + '" type="text" value="' + data.weight + '">';
                                    html[++h] = '</div></td>';
                                    var tr = 0;
                                    $.each(data, function(j, data2) {
                                        if (data2.constructor === objectConstructor) {

                                            if (tr > 0) {
                                                html[++h] = '<tr>';
                                            }
                                            html[++h] = '<td class="col-sm-6"><label class="col-sm-6 col-sm-6 control-label">' + data2.name +
                                                '<br>[Type: ' + data2.type + ']</label>';
                                            html[++h] = '<div class="col-sm-6"> <input class="form-control" id="" type="text" value="' + data2.weight +
                                                '"></div></td>';
                                            if (data2.scoring != undefined) {
                                                html[++h] = '<td class="col-sm-3">';
                                                $.each(data2.scoring, function(s, scoring) {
                                                    html[++h] = '<label class="col-sm-8 control-label">' + s +
                                                        '</label><div class="col-sm-4"><input class="form-control" id="" type="text" value="' + scoring +
                                                        '"></div>';

                                                });
                                                html[++h] = '</td>';
                                            }
                                            html[++h] = '</tr>';
                                            tr++;
                                            console.log(j + ': ' + data2);
                                        }
                                    });
                                };
                            });
                            //console.log(fs'</tbody></table>'pec.fname);
                            html[++h] = '</tbody></table></div>';
                            $('#formulaSpec').html(html.join(''));

                        });
                        $('input[type=radio][name=optionsRadios]').on('change', function() {
                            // alert(this.value);
                            var arrRadio = $('input[type=radio][name=optionsRadios]');
                            $.each(arrRadio, function(r, radio) {
                                console.log(r + ' ' + radio.value);
                                $('#formulaTable' + radio.value).hide();
                            });
                            var capa = '#formulaTable' + this.value;
                            $(capa).show();


                        });
                        var valant = '';
                        $('input[type=text]').on('focus', function() {
                            console.log(this.value);
                            // On first focus, check to see if we have the default text saved
                            // If not, save current value to data()
                            //if (!$(this).data('')) $(this).data('', $(this).val());

                            // check to see if the input currently equals the default before clearing it
                            valant = $(this).val();
                        });
                        $('input[type=text]').on('blur', function() {
                            // on blur, if there is no value, set the defaultText
                            if ($(this).val() != valant) {
                                // $(this).val($(this).data('defaultText'));
                                var dataPost = {};
                                dataPost[this.name] = this.value;


                                console.log('New Val: ' + JSON.stringify(dataPost));

                                var p1 = $.ajax({
                                    url: '/auth/WEB/admin/update_field/' + this.name + '/' + this.value,
                                    data: JSON.stringify(dataPost),
                                    type: 'POST',
                                    contentType: 'application/json'
                                }, function(data) {
                                    // console.log('koboinfo ' + JSON.stringify(data));
                                    return (data);
                                });
                                Promise.all([p1]).then(function(values) {
                                    console.log(values);
                                });

                            };
                        });
                        break;

                    default:
                        break;
                }

            });
        });


    });
</script>