<script>
    var ifdtobject;
    var nchar = 0;
    var resized = false;
    var formulasDB = <%- JSON.stringify(formula) %>;
    var objectConstructor = {}.constructor;

    console.log(formulasDB);

    $(document).ready(function() {

        $.each(formulasDB, function(index, form) {
            console.log(form.properties.HTML);
            $('#' + form.properties.HTML.id).on('click', function(event) {
                $this = $(this);
                //alert('AssetCriticality');
                $('#formulaName').empty();
                $('#formulaName').append(form.properties.HTML.text);
                // console.log(form.properties.HTML.id);
                switch ($this[0].id) {
                    case "AssetCriticality":
                        $('#formulaSpec').empty();
                        var html = [];
                        var h = -1;

                        $.each(form.formulaSpec, function(i, fspec) {
                            $('#selectFormula').empty();
                            $('#selectFormula').append('<div class="radio"><label >' +
                                '<input type="radio" name="optionsRadios" id="option' + fspec.name + '" value="' + fspec.name + '" >' + fspec.name +
                                '</label></div>');
                            html[++h] = '<div id="formulaTable' + fspec.name + '" style="display:none;"><table class="table table-bordered table-striped table-condensed" >';
                            html[++h] = '<tbody id="formulaTableBody">';
                            $.each(fspec, function(key, data) {
                                console.log(key);
                                console.log(data);
                                if (data.constructor === objectConstructor) {
                                    html[++h] = '<tr>';
                                    html[++h] = '<td  class="col-sm-3" rowspan="' + (Object.keys(data).length - 1) + '"><label class="col-sm-8 col-sm-8 control-label">' + key + '</label>';
                                    html[++h] = '<div class="col-sm-4"> <input class="form-control" id="" type="text" value="' + data.weight + '"></div></td>';
                                    var tr = 0;
                                    $.each(data, function(j, data2) {
                                        if (data2.constructor === objectConstructor) {

                                            if (tr > 0) {
                                                html[++h] = '<tr>';
                                            }
                                            html[++h] = '<td class="col-sm-6"><label class="col-sm-6 col-sm-6 control-label">' + data2.name +
                                                '<br>[Type: ' + data2.type + ']</label>';
                                            html[++h] = '<div class="col-sm-6"> <input class="form-control" id="" type="text" value="' + data2.weight +
                                                '"></div></td>';
                                            if (data2.scoring != undefined) {
                                                html[++h] = '<td class="col-sm-3">';
                                                $.each(data2.scoring, function(s, scoring) {
                                                    html[++h] = '<label class="col-sm-8 control-label">' + s +
                                                        '</label><div class="col-sm-4"><input class="form-control" id="" type="text" value="' + scoring +
                                                        '"></div>';

                                                });
                                                html[++h] = '</td>';
                                            }
                                            html[++h] = '</tr>';
                                            tr++;
                                            console.log(j + ': ' + data2);
                                        }
                                    });
                                };
                            });
                            //console.log(fs'</tbody></table>'pec.fname);
                            html[++h] = '</tbody></table></div>';
                            $('#formulaSpec').html(html.join(''));

                        });
                        $('input[type=radio][name=optionsRadios]').on('change', function() {
                            // alert(this.value);
                            var capa = '#formulaTable' + this.value;
                            $(capa).show();


                        });
                        break;

                    default:
                        break;
                }

            });
        });


    });
</script>