<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */

            #map {
                height: 100%;
            }

            /* Optional: Makes the sample page fill the window. */

            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #info-box {
                background-color: white;
                border: 1px solid black;
                bottom: 30px;
                height: 30px;
                padding: 5px;
                position: absolute;
                left: 30px;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->
        <!-- main content Permission denied -->

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt">
                    <div class="col-md-12">
                        <h3>
                            <i class="fa fa-angle-right"></i>
                            <%- trans('MENU_PANEL_QUERY') %>
                        </h3>
                    </div>
                </div>
                <!-- page start-->
                <div class="row mt" id="bodyQuery">
                    <div class="col-md-3">
                        <div class="form-panel">
                            <h5 class="mb">
                                <i class="fa fa-angle-right"></i>
                                <%- trans('QUERYS_FILTER') %>
                            </h5>
                            <ul id="ListSwitchOption" class="list-group">
                                <%# for (var key in filters) { %>


                                    <%# }; %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-panel">
                            <h6 class="mb">

                                <div id="messageFilter">
                                    <i class="fa fa-angle-right"></i>No filter has been applied. ￼
                                </div>
                                <br>
                                <button id="filterApply" type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-filter"></i> Apply</button>
                                <div id="rowfilter" class="row mt">

                                </div>
                            </h6>

                        </div>


                    </div>
                </div>
                <div class="row mt">

                </div>

                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <% include partials/footer_scripts %>
        <!-- js placed at the end of the document so the pages load faster -->

        <!--common script for all pages-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>



        <!--script for this page-->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>"></script>

        <%- include('partials/query_scripts'); %>
            <script src="/assets/js/jquery.table2excel.min.js"></script>
            <script src="/assets/js/gmaps/gmaps.js"></script>



</body>

</html>